// Atom : Buttons

// Config
// =====
$btn-wrapperClass : ".#{$nameSpace}CookieBanner-actions" !default;
$btn-class        : ".#{$nameSpace}CookieBtn" !default;
$btn-altClass     : ".is-alt" !default;
$btn-radius       : 4px !default;
// colors 
$btn-mainColor        : #093E56 !default;
$btn-mainBgc          : #FFFFFF !default;
$btn-mainColor-effect : #FFFFFF !default;
$btn-mainBgc-effect   : #093E56 !default;
$btn-altColor         : #24313d !default;
$btn-altBgc           : transparent !default;


// Wrapper
#{$btn-wrapperClass} {
  display: flex;
}
// btns
#{$btn-class} {
  flex-grow: 1;
  min-width: 5em;
  font-size: 1em;
  font-weight: 700;
  color: $btn-mainColor;
  padding: 0.5em 1em;
  border: 0;
  border-radius: $btn-radius;
  background-color: $btn-mainBgc;
  transition: color .3s, background-color .3s;
  cursor: pointer;
  &:hover, &:focus {
    color: $btn-mainColor-effect;
    background-color: $btn-mainBgc-effect;
  }
  &#{$btn-altClass} {
    text-decoration: underline;
    color: $btn-altColor;
    background-color: $btn-altBgc;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
  + #{$btn-class} {
    margin-left: $grid-gap;
  }
}