// Atom: Radio

// variables
$check-class       : ".#{$nameSpace}CookieCheck" !default;
$check-statutClass : ".#{$nameSpace}CookieCheck-statut" !default;
$check-statutActive: ".#{$nameSpace}is-active" !default;
$check-labelClass  : ".#{$nameSpace}CookieCheck-label" !default;
$check-inputClass  : ".#{$nameSpace}CookieCheck-input" !default;
$check-maxWidth  : 640px !default;
$check-maxHeight : 50vh;

// colors
$check-bgc              : #707070 !default;
$check-activeColor      : #093E56 !default;
$check-cocheBg          : #ffffff !default;
$check-cocheBorder      : #707070 !default;

#{$check-class} {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#{$check-statutClass} {
  margin-right: 1em;
  order: -1;
  transition: color .3s;
  &#{$check-statutActive} {
    color: $check-activeColor;
  }
}

#{$check-inputClass}:not(:checked),
#{$check-inputClass}:checked {
  position: absolute;
  left: -9999px;
}

  
/* on prépare le label */
#{$check-labelClass} {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 3em;
  background-color: $check-bgc;
  cursor: pointer;
  transition: background-color .3s;
  &:hover::before{
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2);
  }
}

#{$check-inputClass}:not(:checked),
#{$check-inputClass}:checked {
  + #{$check-labelClass}::before {
    transform: translateX(-10px);
    content: "";
    display: block;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: $check-cocheBg;
    border: 1px solid $check-cocheBorder;
    transition: transform .3s, border-color .3s, box-shadow .3s;
  }
  &:focus + #{$check-labelClass}::before {
    box-shadow: 0 0px 10px 5px rgba(0, 0, 0, 0.2);
  }
}

#{$check-inputClass}:checked {
  + #{$check-labelClass} {
    background-color: $check-activeColor;
    &::before {
      border-color: $check-activeColor;
      transform: translateX(10px);
    }
  }
  ~ #{$check-statutClass} {
    color: $check-activeColor;
  }
}



// défault checkbox
$checkbox-coche-color     : #2ddf00  !default;
$checkbox-size            : 16px  !default;
$checkbox-border-dis-color: #bbb  !default;
$checkbox-coche-dis-color : #aaa  !default;
$checkbox-bg-dis-color    : #ddd  !default;
$checkbox-label-dis-color : #999  !default;


// /* Aspect des checkboxes */
// /* :before sert à créer la case à cocher */
// [type="checkbox"]:not(:checked) + label:before,
// [type="checkbox"]:checked + label:before {
//   content: '';
//   position: absolute;
//   left:0; top: 2px;
//   width: $checkbox-size;
//   height: $checkbox-size; /* dim. de la case */
//   border: 1px solid $search-school-border-color;
//   background: $search-school-bg-color;
// }
  
// /* Aspect général de la coche */
// [type="checkbox"]:not(:checked) + label::after,
// [type="checkbox"]:checked + label::after {
//   content: "";
//   display: inline-block;
//   height: 8px;
//   width: 15px;
//   border-left: 4px solid $checkbox-coche-color;
//   border-bottom: 4px solid $checkbox-coche-color;
//   position: absolute;
//   top: 0; left: 4px;
//   @include transition(all .2s); /* on prévoit une animation */
// }
// /* Aspect si "pas cochée" */
// [type="checkbox"]:not(:checked) + label::after {
//   opacity: 0; /* coche invisible */
//   @include transform(scale(1) rotateZ(0deg));
// }
// /* Aspect si "cochée" */
// [type="checkbox"]:checked + label::after {
//   opacity: 1; /* coche opaque */
//   @include transform(scale(1) rotateZ(-45deg)); /* mise à l'échelle 1:1 */
// }

// /* aspect désactivée */
// [type="checkbox"]:disabled:not(:checked) + label::before,
// [type="checkbox"]:disabled:checked + label::before {
//   box-shadow: none;
//   border-color: $checkbox-border-dis-color;
//   background-color: $checkbox-bg-dis-color;
// }
// /* styles de la coche (si cochée/désactivée) */
// [type="checkbox"]:disabled:checked + label::after {
//   color: $checkbox-label-dis-color;
// }
// /* on style aussi le label quand désactivé */
// [type="checkbox"]:disabled + label {
//   color: $checkbox-label-dis-color;
// }
