// Atom: Modal

// variables
$tgl-headClass      : ".#{$nameSpace}CookieToogle-btn" !default;
$tgl-activeClass    : ".#{$nameSpace}is-toggle" !default;
$tgl-contentClass   : ".#{$nameSpace}CookieToogle-content" !default;

// colors

#{$tgl-headClass} {
  display: flex;
  text-decoration: underline;
  font-size: inherit;
  color: inherit;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  &:hover, &:focus {
    text-decoration: none;
    outline: none;
  }
  svg {
    display: block;
    height: 1.2em;
    width: 1.2em;
    margin-left: .5em;
    fill: $text-content-color;
    transition: transform .3s;
    transform: rotate(180deg);
  }
  &#{$tgl-activeClass} {
    svg {
      transform: rotate(0deg);
    }
  }
}

#{$tgl-contentClass} {
  visibility: hidden;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition-delay: 2s,0s,0s;
  transition: visibility .3s,max-height .3s,opacity .3s;
  &[aria-hidden="false"] {
    margin-top: 1em;
    overflow: hidden;
    opacity: 1;
    max-height: 999em;
    visibility: visible;
    transition-delay: 0s;
  }
  span {
    font-weight: 700;
  }
  li {
    margin-bottom: 1em;
    line-height: 1.3;
  }
}