#bs-rsb-establishments {
    width: 100%;
    max-width: 1500px;
    margin: auto;
    padding: 50px;
    box-sizing: border-box;
    display: grid;
    align-items: start;
    grid-template-columns: 350px 1fr;
    grid-gap: 50px;
    grid-template-areas: "a b";
}

#datas-sheet {
    grid-area: a;
}
#presentation {
    grid-area: b;
}

/* Datas establishment sheet */
#datas-sheet {
    width: 100%;
    background-color: #37474f;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #d1dade;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 220px auto auto auto auto auto;
    grid-gap: 10px;
    grid-template-areas:
            "a a"
            "b b"
            "c c"
            "d d"
            "e e"
            "f g";
}

#es-image {
    grid-area: a;
    height: calc(100% - 20px);
    background-size: cover;
    margin: 20px 50px 0 50px;
    border: 10px solid #435056;
    box-shadow: inset 0px 0px 10px #424242;
    background-color: #fff;
    box-sizing: border-box;
}

#es-status {
    grid-area: b;
}
#es-status > p {
    margin: 0;
    font-size: 16px;
    font-style: normal;
    text-align: center;
    color: #fff;
}

#es-name {
    grid-area: c;
    margin: 25px 0;
}
#es-name > p {
    text-align: center;
    font-size: 20px;
    color: #fff;
    margin: 0;
    font-weight: bold;
}
#es-name > p > i {
    margin-right: 10px;
}
/*#datas-sheet > hr {*/
    /*grid-area: c;*/
    /*width: 50%;*/
    /*height: 1px;*/
    /*background-color: #fff;*/
    /*border: none;*/
    /*border-radius: 20px;*/
    /*margin: 25px auto;*/
/*}*/
#datas-sheet > h3 {
    grid-area: d;
    margin: 0;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 20px;
    background-color: #435056;
}
#es-address {
    grid-area: e;
}
#es-city {
    grid-area: f;
}
#es-postalcode {
    grid-area: g;
}
#es-address > p,
#es-city > p,
#es-postalcode > p {
    font-size: 16px;
    margin: 0;
    color: #fff;
    background-color: #435056;
    border-radius: 2px;
    padding: 3px 15px;
}

/* Establishment presentation sheet */
#presentation {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #d1dade;
}

#presentation > h2#label-presentation {
    margin: 0;
    border: 1px solid #424242;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #424242;
    margin-bottom: 50px;
    font-size: 22px;
}