#bs-rsb-container {
    position: relative;
    width: 60%;
    display: inline-flex;
    margin: 0 20%;
}

/* -----------------------------------------------------------------------------------------------*/
/* -------------------------------------START - FILTERS-------------------------------------------*/
/* -----------------------------------------------------------------------------------------------*/

#bs-rsb-filters-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#bs-rsb-filters-container > h2 {
    text-align: center;
    margin:0;
}

#bs-rsb-filters-container > button {
    background-color: #1e6a8e;
    color: #fff;
    padding: 7px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    text-align: center;
    margin: 25px auto;
    max-width: 200px;
    cursor: pointer;
}

#bs-rsb-filters-container > button:hover {
    background-color: #424242;
}

#bs-rsb-filters {
    position: relative;
    width:100%;
}

.bs-rsb-filter {
    position: relative;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #EDEFEF;
    margin-bottom: 5px;
    cursor: pointer;
    text-align: left;
}

.bs-rsb-filter-title {
    display: inline-flex;
    width: 100%;
    padding: 10px 0;
}

.bs-rsb-filter * {
    position: relative;
    margin:0;
}
.bs-rsb-filter-title > p {
    width: 80%;
    font-size:16px;
    padding-left:10%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
}
.bs-rsb-filter-title > i {
    width: 20%;
    font-size: 15px;
    text-align: center;
    color: #1e6a8e;
}

.bs-rsb-filter-datas {
    display: none;
    width: 100%;
}

/*.bs-rsb-filter-tid {*/
    /*display: none;*/
    /*height:0;*/
/*}*/
.bs-rsb-filter-vid {
    display: none;
    height:0;
}

/* Overlay containing filters depending on filter categorie */
#overlay-filters-container {
    position: fixed;
    width: 100%;
    height: 100%;
    /*width: 90%;*/
    /*height:600px;*/
    background-color: #000000f7;
    margin: auto;
    top:0;
    left:0;
    /*top: 50%;*/
    /*left: 50%;*/
    box-sizing: border-box;
    box-shadow: 0px 0px 10px #424242;
    /*transform: translateX(-50%) translateY(-50%);*/
    z-index: 9999;
}

#overlay-filters-container > p {
    text-align: center;
    margin: 20px auto 50px auto;
    font-size: 25px;
    width: auto;
    font-weight: bold;
    color: #fff;
}
#overlay-filters-container > p > span {
    display: block;
    font-size: 20px;
    font-weight: normal;
    color: #d1dade;
}

#overlay-filters-container > i {
    position: fixed;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    padding: 4px 7px;
    box-sizing: border-box;
    color: #d1dade;
    font-size: 15px;
    cursor: pointer;
    border: 2px solid #d1dade;
    border-radius: 25px;
}
#overlay-filters-container > i:hover {
    background-color: #313131;
}

button#ofc-reinit {
    position: fixed;
    left: 20px;
    top: 20px;
    color: #fff;
    padding: 7px 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    max-width: 215px;
}
button#ofc-reinit:hover {
    background-color: #313131;
}

button#ofc-reinit > span {
    display: block;
    margin-top: 5px;
}

/* Filtres - Explication */
#ofc-explaination {
    display: grid;
    grid-template-columns: 50% 1fr 1fr 1fr;
    grid-template-areas:
        "a a a a"
        ". b c d"
        "e f g h";
    color: #fff;
    width: 500px;
    margin: 0 auto 50px auto;
    padding: 10px 25px;
    box-sizing: border-box;
    border: 1px solid #d1dade;
}

#ofc-explaination > * {
    margin:0;
}

#ofc-explaination > p:nth-child(1){
    grid-area: a;
    margin-bottom: 25px;
    text-align: center;
    font-style: italic;
}
#ofc-explaination > p:nth-child(2){
    grid-area: b;
    text-align: center;
}
#ofc-explaination > p:nth-child(3){
    grid-area: c;
    text-align: center;
}
#ofc-explaination > p:nth-child(4){
    grid-area: d;
    text-align: center;
}
#ofc-explaination > p:nth-child(5){
    grid-area: e;
}
#ofc-explaination > input:nth-child(6){
    grid-area: f;
    text-align: center;
    margin: auto;
}
#ofc-explaination > input:nth-child(7){
    grid-area: g;
    text-align: center;
    margin: auto;
}
#ofc-explaination > input:nth-child(8){
    grid-area: h;
    text-align: center;
    margin: auto;
}

#overlay-filters-container > #overlay-filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
    margin: 0 auto;
    color: #d1dade;
    max-width: 1000px;
    overflow-y: scroll;
    max-height: calc(100vh - 450px);
    box-shadow: inset 0px 0px 5px #525252;
    padding: 25px;
    box-sizing: border-box;
}

#overlay-filters-container > #overlay-filters > .overlay-filter-container {
    display: grid;
    grid-template-columns: 65% 1fr;
    grid-gap: 5px;
    align-items: center;
    padding: 5px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #42424240;
}

#overlay-filters-container > #overlay-filters > .overlay-filter-container > p {
    margin:0;
    font-size:16px;
}

#overlay-filters-container > #overlay-filters > .overlay-filter-container > form {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

#overlay-filters-container > #overlay-filters > .overlay-filter-container > form > input{
    width: 15px;
    height: 15px;
}

#overlay-filters-container > #ofc-request-results {
    display: none;
    position: fixed;
    width: 750px;
    bottom: 25px;
    left: 50%;
    transform: translateX(calc(-750px / 2));
    text-align: center;
    box-sizing: border-box;
    color: #fff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}
#overlay-filters-container #ofc-filters-results,
#overlay-filters-container #ofc-requirement-filters-results {
    display: grid;
    align-items: center;
}
#overlay-filters-container #ofc-filters-results > i,
#overlay-filters-container #ofc-requirement-filters-results > i {
    font-size: 20px;
}
#overlay-filters-container > #ofc-request-results *{
    margin: 0;
}

.bs-rsb-filter-datas-checkboxes {
    width: 100%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-rsb-filter-datas-checkbox {
    display: inline-flex;
    width: 100%;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #edefef;
    background-color: #fff;
}
.bs-rsb-filter-datas-checkbox:last-of-type {
    border-bottom: none;
}
.bs-rsb-filter-datas-checkbox > input{
    width: 10%;
    cursor: pointer;
    height: 16px;
    margin-top: 7px;
}
.bs-rsb-filter-datas-checkbox > p{
    width: 90%;
    padding: 5px 10px 5px 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.bs-rsb-filter-datas-checkboxes > button {
    width: 100%;
    padding: 5px 10px;
    border: none;
    border-top: 1px solid #edefef;
    background-color: #1e6a8e;
    color: #fff;
    cursor: pointer;
}

/* -----------------------------------------------------------------------------------------------*/
/* --------------------------------------END - FILTERS--------------------------------------------*/
/* -----------------------------------------------------------------------------------------------*/

div#block-bs-rsb-ressources-bio-filtres {
    float: left;
    width: 30%;
}

/* -----------------------------------------------------------------------------------------------*/
/* ------------------------------------- START - LOADER ------------------------------------------*/
/* -----------------------------------------------------------------------------------------------*/

#loader-criterias-container {
    display: block;
    position: fixed;
    bottom: 15px;
    left: 0;
    width: 100%;
    height: auto;
    background-color: transparent;
    z-index: 9999;
}

#loader-criterias-container > p {
    text-align: center;
    margin: 15px 0 0 0;
    font-size: 15px;
    font-style: italic;
    color: #fff;
}

#loader-criterias-container #loader {
    border: 4px solid transparent;
    border-radius: 50%;
    border-top: 4px solid #fff;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -----------------------------------------------------------------------------------------------*/
/* --------------------------------------- END - LOADER ------------------------------------------*/
/* -----------------------------------------------------------------------------------------------*/

/* Special filters */
.special-filters {
    max-height: calc(100vh - 250px) !important;
}

.sf-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 5px;
    align-items: center;
    padding: 5px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #42424240;
}

div#nb-individus,
div#nb-echantillons,
div#collecte-donnees,
div#suivi-individus {
    grid-template-areas: "a a a a a a a a a" "b b b c c c d d d" "e e e e e f f f f";
}

div#echantillons-sup,
div#donnees-sup {
    grid-template-areas: "a a a" "b c d";
}

div#nb-individus > p:nth-child(1),
div#nb-echantillons > p:nth-child(1),
div#echantillons-sup > p:nth-child(1),
div#donnees-sup > p:nth-child(1),
div#collecte-donnees > p:nth-child(1),
div#suivi-individus > p:nth-child(1) {
    grid-area: a;
}
div#nb-individus > div:nth-child(2),
div#nb-echantillons > div:nth-child(2),
div#echantillons-sup > div:nth-child(2),
div#donnees-sup > div:nth-child(2),
div#collecte-donnees > div:nth-child(2),
div#suivi-individus > div:nth-child(2) {
    grid-area: b;
}
div#nb-individus > div:nth-child(3),
div#nb-echantillons > div:nth-child(3),
div#echantillons-sup > div:nth-child(3),
div#donnees-sup > div:nth-child(3),
div#collecte-donnees > div:nth-child(3),
div#suivi-individus > div:nth-child(3) {
    grid-area: c;
}
div#nb-individus > div:nth-child(4),
div#nb-echantillons > div:nth-child(4),
div#echantillons-sup > div:nth-child(4),
div#donnees-sup > div:nth-child(4),
div#collecte-donnees > div:nth-child(4),
div#suivi-individus > div:nth-child(4) {
    grid-area: d;
}
div#nb-individus > div:nth-child(5),
div#nb-echantillons > div:nth-child(5),
div#collecte-donnees > div:nth-child(5),
div#suivi-individus > div:nth-child(5) {
    grid-area: e;
}
div#nb-individus > div:nth-child(6),
div#nb-echantillons > div:nth-child(6),
div#collecte-donnees > div:nth-child(6),
div#suivi-individus > div:nth-child(6) {
    grid-area: f;
}

div#echantillons-controle {
    grid-template-areas: "a a" "b c";
}

div#echantillons-controle > p:nth-child(1) {
    grid-area : a;
}
div#echantillons-controle > div:nth-child(2) {
    grid-area : b;
}
div#echantillons-controle > div:nth-child(3) {
    grid-area : c;
}

/*div#collecte-donnees,*/
/*div#suivi-individus {*/
    /*grid-template-areas: "a a a a a" "b c d e f";*/
/*}*/

/*div#collecte-donnees > p:nth-child(1),*/
/*div#suivi-individus > p:nth-child(1) {*/
    /*grid-area: a;*/
/*}*/
/*div#collecte-donnees > div:nth-child(2),*/
/*div#suivi-individus > div:nth-child(2) {*/
    /*grid-area: b;*/
/*}*/
/*div#collecte-donnees > div:nth-child(3),*/
/*div#suivi-individus > div:nth-child(3) {*/
    /*grid-area: c;*/
/*}*/
/*div#collecte-donnees > div:nth-child(4),*/
/*div#suivi-individus > div:nth-child(4) {*/
    /*grid-area: d;*/
/*}*/
/*div#collecte-donnees > div:nth-child(5),*/
/*div#suivi-individus > div:nth-child(5) {*/
    /*grid-area: e;*/
/*}*/

div#nb-individus,
div#nb-echantillons,
div#echantillons-sup,
div#donnees-sup,
div#echantillons-controle,
div#collecte-donnees,
div#suivi-individus {
    align-items: baseline;
    grid-gap: 25px 0;
}

.sf-choice-container {
    font-size: 12px;
    text-align: center;
}
.sf-choice-container > input {
    height: 16px;
    width: 16px;
    margin-bottom: 7px;
}

button#ofc-reinit-sf {
    position: fixed;
    left: 20px;
    top: 20px;
    color: #fff;
    padding: 7px 10px;
    box-sizing: border-box;
    border: 1px solid #fff;
    background-color: transparent;
    cursor: pointer;
    max-width: 215px;
}
button#ofc-reinit-sf:hover {
    background-color: #313131;
}

button#ofc-reinit-sf > span {
    display: block;
    margin-top: 5px;
}

#ofc-request-results-sf {
    position: fixed;
    width: 750px;
    bottom: 25px;
    left: 50%;
    transform: translateX(calc(-750px / 2));
    text-align: center;
    box-sizing: border-box;
    color: #fff;
}
div#sf-result-consult {
    display: inline-block;
    width: auto;
    padding: 10px 25px;
    box-sizing: border-box;
    line-height: 20px;
}
div#sf-result-consult > p{
    margin-bottom: 5px;
}
div#sf-result-consult > i{
    font-size: 20px;
}

/* Start - Custom Scrollbar */

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a7a7a740;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #e9e9e9;
}

/* End - Custom Scrollbar */