/* Start - Set the main content to the entire width of the screen */
div#main-wrapper {
    margin-top:50px;
}

div#main-wrapper > div.container,
div#main-wrapper > div.container > div.container-inner,
div#main-wrapper > div.container > div.container-inner > div#main-content-wrapper,
div#main-wrapper > div.container > div.container-inner > div#main-content-wrapper > div#main-content,
div#main-wrapper > div.container > div.container-inner > div#main-content-wrapper > div#main-content > div.grid-inner {
    width: 100% !important;
    padding: 0 !important;
    margin:0 !important;
}
/* End - Set the main content to the entire width of the screen */

/* ------------------------------------------------------------------------------------- */
/* ------------------------------ Consult - Annonce list ------------------------------- */
/* ------------------------------------------------------------------------------------- */
div#block-bs-rsb-ressources-bio-annonces-manager {
    position: relative;
    margin: 0;
}

/* Start - User doesn't created establishment sheet */
div#bs-rsb-no-annonce-header{
    position: relative;
    width: 100%;
    background-color: #20313a;
    padding:15px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid #fff;
}

div#bs-rsb-no-annonce-header > a {
    border: 1px solid #fff;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

div#bs-rsb-no-annonce-header > a > i {
    padding-right: 10px;
}

div#bs-rsb-no-annonce-header > a:hover {
    background-color: #435056;
    color: #fff;
}
/* End - User doesn't created establishment sheet */

/* Start - Annonce header */
div#bs-rsb-annonce-header {
    position: relative;
    width: 100%;
    background-color: #20313a;
    padding:15px 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-top: 1px solid #fff;
}

div#bs-rsb-annonce-header > a {
    border: 1px solid #fff;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}

div#bs-rsb-annonce-header > a > i {
    padding-right: 10px;
}

div#bs-rsb-annonce-header > a:hover {
    background-color: #435056;
    color: #fff;
}

div#bs-rsb-annonce-header > a#add-annonce {
    margin-right:10px;
}
div#bs-rsb-annonce-header > a#consult-map {
    margin-left:10px;
}
/* End - Add annonce */

/* Start - Annonce list */
.bs-rsb-cards-container{
    display: grid;
    width: calc(100% - 100px);
    margin: 50px auto;
    grid-template-columns: repeat(4, 1fr [col-start]);
    grid-gap: 40px;
    background-color: #fff;
    color: #444;
    justify-items: center;
}

.bs-rsb-card-title {
    grid-area: title;
    background-color: #37474F;
    color: #fff;
    padding: 10px;
}
.bs-rsb-card-title * {
    display: inline-block;
    margin: 0;
    font-size: 18px;
}
.bs-rsb-card-title > i {
    margin-right: 10px;
    vertical-align: top;
    font-size: 18px;
}
.bs-rsb-card-title > p {
    float: right;
    width: calc(100% - 30px);
    line-height: 1.25;
}

.bs-rsb-card-content {
    grid-area : content;
}
.bs-rsb-card-content > p {
    margin: 25px 15px !important;
}

.bs-rsb-card-action-edit {
    grid-area: action-edit;
    margin-bottom: 10px;
}
.bs-rsb-card-action-edit > a {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #1e6a8e;
    color: #fff !important;
    font-size: 16px;
    padding: 3px 5px;
    box-sizing: border-box;
}
.bs-rsb-card-action-edit > a:hover {
    background-color: #3c92bb;
}
.bs-rsb-card-action-edit > a > i {
    margin-left: 5px;
}

.bs-rsb-cards {
    background-color: #fff;
    box-shadow: 1px 1px 3px #d1dade;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto 40% auto;
    grid-template-areas:
            "title title title"
            "content content content"
            ". action-edit .";
}
.bs-rsb-cards:hover{
    box-shadow: 1px 1px 5px #435056;
    cursor: pointer;
}
/* End - Annonce list */

/* Start - Annonce list - No annonce */
#bs-rsb-no-annonce {
    max-width: 600px;
    margin: 50px auto;
    padding: 25px 50px;
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    box-shadow: 2px 2px 5px #a0a0a0;
}
#bs-rsb-no-annonce > p {
    text-align: center;
    margin:0;
}
#bs-rsb-no-annonce > p:first-child {
    font-weight:600;
    margin-bottom:20px;
}
/* End - Annonce list - No annonce */

/* ------------------------------------------------------------------------------------- */
/* ---------------------------------- Edit - Annonce ----------------------------------- */
/* ------------------------------------------------------------------------------------- */

#rb-collections-node-form .form-type-textarea textarea {
    border: 2px solid #1e6a8e;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-bottom: none;
    margin-top: 7px;
}

#rb-collections-node-form .form-type-textarea .grippie {
    background: #424242;
    border: none;
}

#rb-collections-node-form .field-type-text-long fieldset.filter-wrapper {
    border: none;
    background-color: #fdfdfd;
    box-shadow: 0px 0px 5px #d6d6d6;
}

/* Submit button : Enregistrer (Save), Aperçu (Preview), Supprimer (Delete) */

#rb-collections-node-form #edit-actions {
    margin-top: 50px;
    margin-bottom: 0;
}

#rb-collections-node-form #edit-actions > span:first-of-type {
    margin: 0;
    float: right;
}
#rb-collections-node-form #edit-actions > span:last-of-type {
    margin: 0;
    float: left;
}

#rb-collections-node-form #edit-actions > span:last-of-type {
    margin: 0;
}

#rb-collections-node-form #edit-actions > span > input {
    width: auto;
    border: none;
    box-shadow: none;
    color: #fff;
    padding: 10px 15px;
    box-sizing: border-box;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
#rb-collections-node-form #edit-actions > span > input#edit-submit{
    background: #37474f;
}
#rb-collections-node-form #edit-actions > span > input#edit-submit:hover{
    background: #7f99a7;
}

#rb-collections-node-form #edit-actions > span > input#edit-delete{
    background: #ab2f26;
}
#rb-collections-node-form #edit-actions > span > input#edit-delete:hover{
    background: #dc675e;
}

/*************************************************************************/
/************************** CONSULT - ANNONCES ***************************/
/*************************************************************************/

/*span.cke_wrapper.cke_ltr {*/
    /*overflow-x: scroll;*/
/*}*/

/* Start - Custom WYSIWYG */
.cke_skin_kama *, .cke_skin_kama a:hover, .cke_skin_kama a:link, .cke_skin_kama a:visited, .cke_skin_kama a:active {
    white-space: initial !important;
}

.cke_skin_kama .cke_toolgroup {
    height: auto !important;
    background-color: #fff !important;
}

/* Hide the possibility of choose the text format */
fieldset.filter-wrapper {
    display: none;
}
/* End - Custom WYSIWYG */

/* Case when user didn't create an establishment sheet */
#bs-rsb-es-notcreated {
    width: 500px;
    margin: 50px auto;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #b9b9b9;
    text-align: center;
}

#bs-rsb-es-notcreated > p {
    text-align: justify;
    margin: 0 0 50px 0;
}

#bs-rsb-es-notcreated > a {
    color: #1e6a8e !important;
    border: 1px solid #1e6a8e;
    padding: 5px 10px;
}


/* Grid formating */

#rb-collections-node-form{
    position: relative;
    width: 700px;
    margin: 50px auto;
}

#rb-collections-node-form .field-name-field-nom-organisme,
#rb-collections-node-form .field-name-field-statut-organisme {
    display: none;
}

#rb-collections-node-form > div {
    width: 600px;
    padding: 25px 50px;
    box-shadow: 0px 0px 3px #d1dade;
    display: grid;
    /*align-items: end;*/
    /*grid-template-columns: repeat(18, 1fr);*/
    /*grid-gap: 20px;*/
    /*grid-template-areas:*/
            /*"a a a a a a a a a b b b b b b b b b"*/
            /*"c c c c c c c c c c c c c c c c c c"*/
            /*"d d d d d d d d e e e e e f f f f f"*/
            /*"g g g g g g h h h h h h i i i i i i"*/
            /*"j j j j j j j j j j j j j j j j j j"*/
            /*"k k k k k k k k k k k k k k k k k k"*/
            /*"l l l l l l l l l l l l l l l l l l";*/
            /*!*"n n n n n n n n n o o o o o o o o o"*!*/
            /*!*"p p p p p p p p p . . . . . . . . ."*!*/
            /*!*"q q q q q q q q q q q q q q q q q q";*!*/
    grid-template-columns: repeat(2, 50%);
    grid-template-areas:
            "a b"
            "c d"
            "e f"
            "g h"
            "i j"
            "k k"
            "l l"
            "m m"
            "n n"
            "o o"
            "p p"
            "q q"
            "r r"
            "s s";
    grid-gap: 40px 30px;
    align-items: center;
    justify-content: space-around;
}

/*#rb-collections-node-form .form-item,*/
/*#rb-collections-node-form .form-action {*/
    /*margin:0 !important;*/
/*}*/
/*#rb-collections-node-form > div > div {*/
    /*margin: 0;*/
/*}*/

#rb-collections-node-form .form-item-title {
    grid-area: a;
}
#rb-collections-node-form .field-name-field-nom-collection {
    grid-area: b;
}
#rb-collections-node-form .field-name-field-regne {
    grid-area: c;
}
#rb-collections-node-form .field-name-field-cp-hebergement {
    grid-area: d;
}
#rb-collections-node-form .field-name-field-statut {
    grid-area: e;
}
#rb-collections-node-form .field-name-field-accessibility {
    grid-area: f;
}
#rb-collections-node-form .field-name-field-statut-consentement {
    grid-area: g;
}
#rb-collections-node-form .field-name-field-catalogue {
    grid-area: h;
}
#rb-collections-node-form .field-name-field-nombre-individus {
    grid-area: i;
}
#rb-collections-node-form .field-name-field-nombre-echantillons {
    grid-area: j;
}
#rb-collections-node-form .field-name-field-collecte-donnees {
    grid-area: k;
}
#rb-collections-node-form .field-name-field-suivi-individus {
    grid-area: l;
}
#rb-collections-node-form .field-name-field-echantillons-controle {
    grid-area: m;
}
#rb-collections-node-form .field-name-field-collecte-echantillons-sup {
    grid-area: n;
}
#rb-collections-node-form .field-name-field-collecte-donnees-sup {
    grid-area: o;
}
#rb-collections-node-form .field-name-field-tracabilite {
    grid-area: p;
}
#rb-collections-node-form .field-name-field-presentation {
    grid-area: q;
}
#rb-collections-node-form fieldset.group-criteres {
    grid-area: r;
}
#rb-collections-node-form div#edit-actions {
    grid-area: s;
}

/*.form-item-title {*/
    /*grid-area: a;*/
/*}*/
/*#edit-field-nom-organisme {*/
    /*grid-area: b;*/
/*}*/
/*#edit-field-nom-collection {*/
    /*grid-area: c;*/
/*}*/
/*#edit-field-type-de-collection {*/
    /*grid-area: d;*/
/*}*/
/*#edit-field-nombre-donneurs {*/
    /*grid-area: e;*/
/*}*/
/*#edit-field-nombre-echantillons {*/
    /*grid-area: f;*/
/*}*/
/*#edit-field-collecte-echantillons-supp {*/
    /*grid-area: g;*/
/*}*/
/*#edit-field-disponibilite {*/
    /*grid-area: h;*/
/*}*/
/*#edit-field-regne {*/
    /*grid-area: i;*/
/*}*/
/*#edit-field-presentation {*/
    /*grid-area: j;*/
/*}*/
/*.group-criteres {*/
    /*grid-area: k;*/
/*}*/
/*#edit-actions {*/
    /*grid-area: l;*/
/*}*/


/* Fields */
#rb-collections-node-form .form-item label {
    font-size: 15px;
    color: #1e6a8e;
    margin-bottom: 8px;
}

#rb-collections-node-form input:not(.form-submit),
#rb-collections-node-form input:not([type="radio"]) {
    width: 100%;
    margin: 7px 0 0 0;
    padding: 7px 10px;
    box-shadow: inset 0px 1px 2px #d1dade;
    border: none;
    border-bottom: 2px solid #1e6a8e;
}

#rb-collections-node-form .form-type-radio {
    display: inline-block;
    margin: auto 30px !important;
}

input[type="radio"] {
    height: 16px;
    display: block;
    box-shadow: none !important;
}

#rb-collections-node-form select {
    width: 100%;
    margin: 7px 0 0 0;
    padding: 6px 10px;
    background-color: #37474f;
    border: none;
    color: #fff;
}

#rb-collections-node-form .form-radios {
    text-align: center;
}

#rb-collections-node-form .form-type-radio label {
    color: #424242;
    font-style: italic;
}

/* Fieldset */
#rb-collections-node-form fieldset.group-criteres {
    border: none;
    border-top: 2px solid #1e6a8e;
    text-align: left;
    margin: 15px 0 0 0;
    box-shadow: inset 0px 0px 5px #c5c5c5;
    padding-right: 25px;
    padding-left: 25px;
}
#rb-collections-node-form fieldset.group-criteres.collapsed {
    box-shadow: none;
}
#rb-collections-node-form fieldset.group-criteres > legend {
    font-size: 18px;
    background-color: #fff;
}

/* ------------------------------------------------------------------------------------- */
/* ------------------------------ Consult - Full annonce ------------------------------- */
/* ------------------------------------------------------------------------------------- */

.node-rb-collections {
    position: relative;
    width:100%;
}

.node-rb-collections > div.node-content{
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-gap: 0 50px;
    width: 100%;
    max-width: 1500px;
    margin: auto !important;
    padding: 50px !important;
    box-sizing: border-box;
    grid-template-areas:
            "b a"
            "c a"
            "d a"
            "e a"
            "f a"
            "g a"
            "h a"
            "i a"
            "j a"
            "k a"
            "l a"
            "m a"
            "n a";
}

.node-rb-collections .field-name-field-presentation {
    grid-area: a;
}

.node-rb-collections .field-name-field-nom-collection{
    grid-area: b;
    padding-top: 25px !important;
}
.node-rb-collections .field-name-field-regne{
    grid-area: c;
}
.node-rb-collections .field-name-field-statut-consentement{
    grid-area: d;
}
.node-rb-collections .field-name-field-catalogue{
    grid-area: e;
}
.node-rb-collections .field-name-field-nombre-individus{
    grid-area: f;
}
.node-rb-collections .field-name-field-nombre-echantillons{
    grid-area: g;
}
.node-rb-collections .field-name-field-collecte-donnees{
    grid-area: h;
}
.node-rb-collections .field-name-field-suivi-individus{
    grid-area: i;
}
.node-rb-collections .field-name-field-echantillons-controle{
    grid-area: j;
}
.node-rb-collections .field-name-field-collecte-echantillons-sup{
    grid-area: k;
}
.node-rb-collections .field-name-field-collecte-donnees-sup{
    grid-area: l;
}
.node-rb-collections .field-name-field-tracabilite{
    grid-area: m;
}
.node-rb-collections #bs-rsb-establishment-link {
    grid-area: n;
    padding-bottom: 30px;
}

.node-rb-collections .node-content div.field.section:not(.field-name-field-presentation) {
    background-color: #37474f;
    padding: 10px 25px;
}
.node-rb-collections .node-content div.field.section:not(.field-name-field-presentation):before {
    font-family: "FontAwesome";
    content: "\f105";
    margin-right: 10px;
    color: #d1dade;
    vertical-align: top;
}
.node-rb-collections .node-content div.field.section:not(.field-name-field-presentation) > h3 {
    color: #d1dade;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    width: calc(100% - 20px);
}
.node-rb-collections .node-content div.field.section:not(.field-name-field-presentation) > div {
    color: #fff;
    font-size: 16px;
    padding-left: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #808080;
}

/* Link to the establishment sheet */
#bs-rsb-establishment-link {
    width: 100%;
    padding: 20px 25px;
    box-sizing: border-box;
    text-align: center;
    background-color: #37474f;
}

#bs-rsb-establishment-link > a {
    color: #fff !important;
    padding: 3px 15px;
    border: 1px solid #fff;
}

#bs-rsb-establishment-link > a > i {
    margin-right: 10px;
}

#bs-rsb-establishment-link > a:hover {
    background-color: #1e6a8e;
}

/* Presentation card */
.node-rb-collections .field-name-field-presentation {
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    box-shadow: 1px 1px 5px #d1dade;
}
.node-rb-collections .field-name-field-presentation > h3 {
    margin: 0;
    border: 1px solid #424242;
    text-align: center;
    padding: 5px 10px;
    text-transform: uppercase;
    color: #424242;
    margin-bottom: 25px;
    font-size: 22px;
}
.node-rb-collections .field-name-field-presentation > div {
    max-height: 720px;
    overflow-y: scroll;
    padding: 15px;
    box-sizing: border-box;
    box-shadow: inset -5px 1px 5px #d1dade;
}

/* ------------------------------------------------------------------------------------- */
/* ---------------------------------- Menu - Annonce ----------------------------------- */
/* ------------------------------------------------------------------------------------- */
/* Start - Custom the automatic menu */
.tabs{
    width: 100%;
    border-radius: 0 !important;
    background-color: #20313a;
    padding: 5px 25px;
    box-sizing: border-box;
}
.tabs > h2{
    margin:0 !important;
}
.tabs > ul{
    margin: 0 auto !important;
    padding: 0 !important;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.tabs li{
    width: 100%;
    margin: 0 !important;
}
.tabs li > a {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0 !important;
    background-color: #20313a !important;
    color: #fff !important;
}

.tabs li > a:hover {
    border: none !important;
    background-color: #37474f !important;
}

.tabs li > a.active {
    border: none !important;
    /*border-bottom: 2px solid #424242 !important;*/
    font-weight: bold;
    border-bottom: 1px solid #fff !important;
}
/* End - Custom the automatic menu */

/* Delete - Annonce */
#node-delete-confirm{
    width: 600px;
    margin: auto;
    text-align: center;
}

#node-delete-confirm .form-actions{
    margin:50px;
}

#node-delete-confirm .form-actions > span {
    float: right;
}

#node-delete-confirm .form-actions > a#edit-cancel {
    float: left;
}

#node-delete-confirm div#edit-actions > span.edit-submit:before {
    font-family: "FontAwesome";
    content: '\f00d';
    position: absolute;
    font-size: 18px;
    transform: translateX(8px) translateY(4px);
}
#node-delete-confirm div#edit-actions > span.edit-submit {
    color: #fff;
    border-radius: 2px;
}
#node-delete-confirm .form-actions input.form-submit {
    width: 190px;
    border: none;
    box-shadow: none;
    background: #1e6a8e;
    color: #fff;
    padding: 10px 15px;
    box-sizing: border-box;
    border-radius: 2px;
}
#node-delete-confirm .form-actions input.form-submit:hover{
    background: #424242;
}

#node-delete-confirm div#edit-actions > #edit-cancel:before {
    font-family: "FontAwesome";
    content: '\f060';
    margin-right: 10px;
}