#Cookie_All{
	background-color: #E6E6E6;
}

#Cookie_Gauche{
	width: 50%;
	display: inline-block;
}

#Cookie_Droite{
	width: 50%;
	display: inline-block;
}

#Cookie_img_cookie{

}

#Cookie_text_1{

}

#Cookie_text_2{

}

#Cookie_text_3{

}

#Cookie_text_4{

}

#Cookie_text_5{

}

#Cookie_text_6{

}

#Cookie_text_7{

}

#Cookie_text_8{

}