.wrapper {
}

.wrapper .container {
}

/* Grid Gutter */
.grid {
}

.grid-inner {
	padding: 0 10px;
}

.grid .grid-inner {
}

.region-content .block {
}

.sidebar .block {
  margin-bottom: 21px;
}

/**
 * Main Containner
 */
#main-wrapper {
}

.front #main-wrapper .container,
#main-wrapper .page-title-wrap .container {
  border-bottom: none;
  padding: 0;
  margin-bottom: 0;
}

#main-wrapper .container {
	border-bottom: 1px solid #323232;
	/*padding: 34px 0 0 0;*/
	padding: 51px 0 0 0;
}

.not-front #main-wrapper .container {
  border-bottom: none;
}

#main-wrapper .container-inner {
    float: right;
    /*margin: 50px 0;*/
}

/**
 * Header top
 */
#header-top-wrapper {
  background: #fff;
}

#header-top-wrapper .grid-inner {
  padding-bottom: 6px;
  padding-top: 6px;
}
/**
 * Header
 */
#header-wrapper {
    background:#ffffff;
    position: relative;
    width: 100%;
    height: auto;
    z-index: 20;
    top: 0;
    margin-top:35px;
}

.accordion {
  background: url(../images/overlay_trigger.png) 0 0 no-repeat;
  width: 31px;
  height: 15px;
  position:absolute;
  right: 30px;
  top: 0;
  text-indent: -999em;
  overflow:hidden;
}

.accordion.active {
  background-position: 0 -25px;
}

/*#header-wrapper .container {
	padding: 10px 0 0 0;
}*/



		/* RESPONSIV MENU */

@media screen and (max-width: 1299px){ #header { padding-left: 0%; } }

/*@media screen and (min-width: 1300px){ #header { padding-left: 5%; } }*/

@media screen and (min-width: 1500px){
    #header {
        padding-left: 0;
        width: 85% !important;
        margin:auto;
    }
}

#header {
	clear: both;
	width: 100%;
	display: block;
}

#header-second {
    position: relative;
    display: block;
    width: 100%;
}

/* Logo & Site name */
#logo {
    position: relative;
	display:block;
	float: left;
    margin: 20px 0 20px 0;
    z-index: 80;
    /*padding: 0 0 0 50px;*/
}

#name-and-slogan {
	float: left;
	line-height: 1.2;
	padding: 15px 0 0 0;
}

.site-name {
	color: #fff;
	margin: 0;
	font-size: 3em;
	font-family: 'rondamedium';
	font-weight: normal;
	line-height: 100%;
	text-transform: uppercase;
}

.site-name a {
	color: #fff;
	text-decoration: none;
}

.site-name a:visited {
}

.site-name a:hover,
.site-name a:focus,
.site-name a:active {
	color: #fff;
	text-decoration: none;
}

.site-slogan {
	color: #fff;
	font-size: 0.75em;
	font-weight: bold;
	margin: 0 0 3px 0;
	padding: 0;
	text-transform: uppercase;
	text-align: right;
}

/* Region */
.region-header {
    float: right;
    position: relative;
    display: inline;
    width: calc(100% - 84px);
    height: auto;
    margin: 50px 0 0 0;
    z-index: 80;
}

@media screen and (max-width: 1050px){
    .region-header {
        display: block;
        /*margin-left: 84px;*/
    }
}

/*!* Gael - Rectification *!*/
/*#All_coords > .contact-title {*/
    /*margin: 165px 0 25px 0;*/
    /*padding: 0;*/
/*}*/
/*#article-110 > div > div > div > div > p {*/
    /*text-align: center;*/
    /*width: 80%;*/
    /*margin: 0 auto;*/
/*}*/

/*!* Gael - Responsive < 800 px *!*/
/*@media screen and (max-width : 800px){*/
    /*!*#All_coords_map {*!*/
        /*!*display: block;*!*/
        /*!*position: relative;*!*/
        /*!*width: 100%;*!*/
        /*!*max-height: none;*!*/
        /*!*min-height: none;*!*/
        /*!*height:600px;*!*/
    /*!*}*!*/
    /*!*#All_coords {*!*/
        /*!*display: block;*!*/
        /*!*width: 100%;*!*/
        /*!*height: 50% !important;*!*/
        /*!*position: relative;*!*/
    /*!*}*!*/
    /*!*#bscontact_gmap {*!*/
        /*!*position: relative;*!*/
        /*!*display: block;*!*/
        /*!*width: 100% !important;*!*/
        /*!*height: 50% !important;*!*/
    /*!*}*!*/
    /*!*#gmap_canvas{*!*/
        /*!*height: 100% !important;*!*/
    /*!*}*!*/
    /*!*#All_coords > .contact-title {*!*/
        /*!*padding: 35px 0 30px 0 !important;*!*/
        /*!*margin: 0;*!*/
    /*!*}*!*/
    /*!*#All_coords > .contact-subtitle {*!*/
        /*!*margin: 0 !important;*!*/
    /*!*}*!*/
    /*!*#All_coords > .contact-content {*!*/
        /*!*margin: 0 0 30px 0 !important;*!*/
        /*!*top:0;*!*/
    /*!*}*!*/
    /*#webform-client-form-110 {*/
        /*font-size: 14px;*/
    /*}*/
/*}*/

/* Gael - Responsive < 550 px */
/*@media screen and (max-width : 550px){*/
    /*#webform-client-form-110 {*/
        /*font-size: 12px;*/
    /*}*/
/*}*/

/* Gael - Responsive < 500 px */
@media screen and (max-width : 500px){
    .region-header {
        margin-left: 0;
        width: 100%;
    }

    #search-block-form {
        position: relative !important;
        display: block !important;
        width: 100% !important;
    }

    .tb-megamenu.tb-megamenu-main-menu {
        padding: 0;
        float: right;
    }

    .tb-megamenu .btn-navbar {
        /*padding: 10px;*/
        margin-right: -10px;
    }

    #search-block-form {
        position: relative !important;
        display: block !important;
        width: 100% !important;
    }

    #search-block-form, #search-block-form>div, #search-block-form>div>div{
        width: 100% !important;
    }

    #search-block-form .container-inline div {
        /*float: left;*/
        margin: 10px 0 !important;
        width: calc(100% - 45px);
    }

    #edit-search-block-form--2{
        width:100% !important;
    }

    #edit-actions--2{
        float: left;
        margin: 10px 0 !important;
        width:45px !important;
    }

    #header-wrapper {
        height: 200px;
        margin-top: 70px !important;
    }

    #webform-client-form-110 > div > div{
        float: none !important;
        display: block !important;
        width: 100% !important;
        margin: 15px 0 !important;
    }
}

/* Gael - Responsive < 400 px */
/*@media screen and (max-width : 400px){*/
    /*#All_coords > .contact-subtitle {*/
        /*font-size: 18px;*/
    /*}*/
    /*#All_coords > .contact-content {*/
        /*font-size: 12px;*/
    /*}*/
    /*!*#webform-component-poste---service, #webform-component-civilite, #webform-component-nom, #webform-component-code-postal, #webform-component-telephone, #webform-component-fax, #webform-component-ndegsiren---siret, #webform-component-affiliation---societe {*!*/

    /*#article-110 > div > div > div > div > p > span, #All_coords > h1 {*/
        /*font-size:32px !important;*/
    /*}*/
/*}*/


/**
 * Main Navigation
 */
#menu-bar-wrapper {
  width: 510px;
  z-index: 499; /* Drupal toolbar index is 600 */
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


#menu-bar-wrapper .menu-bar {
  position: relative;
}

#menu-bar-wrapper .region-menu-bar {
	width: 100%;
    font-size: 19px;
}

/* Region */
.region-menu-bar {
}

/**
 * Main Content
 */
#main-content {
}

#main-content a {
    color: #000;
    text-decoration: none;
}

#main-content a:hover {
    color: #155572;
    text-decoration: none;
}

#main-content .grid-inner {
	padding: 0 20px 20px 20px;
}

#main-content .region-content {
}

#main-content .region-content #block-system-main {
}

#main-content .region-content #block-system-main .block-inner {
	padding: 0;
}

#main-content .region-content #block-system-main .block-content {
	padding: 0;
}

/* Content on Front-page */
body.front #main-content .region-content {
}

/* Content on other pages */
body.not-front #main-content .region-content {
}

/* Page Title */
.page-title-wrap {
    text-align: center;
    background-image: linear-gradient(#165c72, #1e6a8e);
    border-bottom: 1px solid #fff;
}

.page-title-wrap #page-title {
    color: #fff;
    font-size: 30px;
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    position: relative;
    height: auto;
    min-height: auto;
}
/*.page-title-wrap #page-title {*/
  /*color: #fff;*/
  /*font-size: 2.5em;*/
  /*margin: 0;*/
  /*padding: 0 10px;*/
  /*text-transform: uppercase;*/
  /*position: relative;*/
  /*bottom: 15px;*/
/*}*/

#main-wrapper .page-title-wrap .container {
  padding: 10px;
}

#page-title {
	margin: 0 0 .5em;
}

.in-maintenance #page-title {
	padding: 10px;
}

/**
 * Sidebars
 */
.sidebar {
}

.region-sidebar-first {
}

#sidebar-first-wrapper > .grid-inner {
}

#sidebar-second-wrapper > .grid-inner {
}

.region-sidebar-second {
}

/**
 * Panels
 */
.panel {
}

.panel .container {
}

/* --- First Panel --- */
#panel-first-wrapper .view-jcarousel {
  border-bottom: 1px solid #323232;
  padding-bottom: 30px;
}

/* --- Second Panel --- */
#panel-second-wrapper {
  margin-bottom: 30px;
}

#panel-second-wrapper .block-inner {
  padding: 30px 0 18px 0;
}

/* --- Third Panel --- */
#panel-third-wrapper {
}

/**
 * Slideshow
 */
#slideshow-wrapper {
  position: relative;
  z-index: 1;
}

#slideshow-wrapper .grid-inner {
  padding: 0;
}

/**
 * Intro
 */
#intro-wrapper {
  margin-bottom: 30px;
  text-align: center;
}

#intro-wrapper .block-inner {
  padding: 30px 0 15px 0;
}

#intro-wrapper h1 {
  font-family: 'oswaldregular';
  font-size: 2.66em;
  color: #fff;
  font-weight: normal;
  margin: 0 0 15px;
  text-transform: uppercase;
}

#intro-wrapper h2 {
  font-family: 'oswaldregular';
  font-size:1.5em;
  color: #fcce0a;
  font-weight: normal;
  margin: 0 0 8px;
  text-transform: uppercase;
}

/* --- Footer Menu --- */
#menu-footer-wrapper .grid-inner {
  border-top: 1px solid #323232;
  margin: 0 10px;
  padding: 0;
}

/**
 * Footer
 */
#footer-wrapper {
    background: #05363d;
    text-align: center;
    height: 100%;
}

#footer-wrapper a:hover {
    color: #1e6a8e;

}

#footer-wrapper .grid-inner {
  padding: 15px 0 0;
}

#footer {
	position: relative;
}

#footer .tb-copyright {
  display: block;
  clear: both;
  color: #fff;
  font-size: 0.917em;
  padding: 0;
}

#footer .tb-copyright a {
  color: #fff;
}

/* Region */
.region-footer {
}

/**
 * Other Pages
 */

/* --- Blogs --- */
.page-blog {
}

/* Blog Action Links */
.page-blog ul.action-links {
  margin: 0 0 2em;
  padding: 0;
}

.page-blog ul.action-links li {
  margin: 0;
}


.page-blog ul.action-links li a {
  background:#FCCE0A;
  border: 1px solid #e8bd05;
  color: #000;
  display: inline-block;
  font-size: 0.917em;
  padding: 5px 10px;
  text-transform: uppercase;
  vertical-align: middle;
  font-weight: bold;
}

.page-blog ul.action-links li a:hover,
.page-blog ul.action-links a:focus {
  background:#000;
  border: 1px solid #010101;
  border-bottom: 1px solid #323232;
  color: #FFF;
  text-decoration: none;
}

/* --- Profiles --- */
.profile {
	margin-top: 0;
}

.profile h3 {
	margin: 0 0 1em;
	padding: 0 0 .5em 0;
	border-bottom: 1px solid #323232;
}


.profile .user-picture {
	float: none;
}

.profile .field {
}

.profile .field .field-label {
}

.profile .field .field-items {
}

.profile .field .field-items .field-item {
}

/* --- Search Results --- */
.search-results {
	margin: 0;
}

.search-results .search-result {
}

.search-results .title {
	font-size: 1.154em;
}

.search-results .search-snippet-info {
	padding: 0;
}

.search-results p {
	margin: 0;
}

.search-results .search-snippet {
}

.search-results .search-info {
	font-size: .923em;
}

span.search-info-type {
}

span.search-info-user {
}

span.search-info-date {
}

span.search-info-comment {
}

span.search-info-upload {
}

/* --- Poll Page --- */
.poll {
}

/* Vote Form */
.poll .vote-form {
	text-align: left;
}

.poll .vote-form .choices {
	margin: 0;
}

.poll .vote-form .choices .form-item {
}

/* Vote Result */
.poll .text {
}

.poll .bar {
	background: #DDD;
}

.poll .bar .foreground {
	background: #333;
}

.poll .percent {
	font-size: 0.92em;
	color: #7B7B7B;
}

.poll .total {
}

/* --- Feed Aggregator ---*/
/* Feed Items */
#aggregator .feed-item {
	margin-bottom: 40px;
}

#aggregator .feed-item .header {
}

#aggregator .feed-item .header h2 {
}

#aggregator .feed-item .content {
}

#aggregator .feed-item .footer {
}

#aggregator .feed-item .footer .meta {
}

#aggregator .feed-item .footer .categories {
}

/* Feed Lists */
#aggregator .feed {
	margin: 1em 0;
}

#aggregator .feed .summary-title {
}

#aggregator .feed .feed-url {
	margin: .5em 0 0;
}

#aggregator .feed .item-list {
}

#aggregator .feed .item-list ul {
}

#aggregator .feed .item-list ul li {
	background-image: none;
	margin: 1em 0 0;
	padding: 0;
}

#aggregator .feed .source {
	margin: .5em 0 0;
}

#aggregator .feed .time {
}

#aggregator .feed .feed-name {
	margin: 0;
}

#aggregator .feed .links a {
	margin: 0;
}

/* --- Maintenance Page --- */
.maintenance-page #skip-link {
	position: absolute;
	top: -99em;
}

.maintenance-page .footer {
}

.maintenance-page .footer a {
}

/**
 * Misc.
 */

/* Feed icons */
.feed-icon img {
	padding: 0 10px;
}

#feed-icons {
}

#feed-icons .feed-icon {
}

#feed-icons .feed-icon img {
}

#feed-icons a.feed-icon {
}

#fourniture-main-content {
    display: inline;
    float: left;
    margin: 0 60px 10px 0;
}

/*
.container.grid-16, .grid-inner, .clearfix {
    position:relative !important;
    width:100% !important;
    margin:0 !important;
    padding:0 !important;
}*/

/* Image News et actus */
.NA-picture {
    padding: 20% 4% !important;
}

.NA-content-text, .NA-header {
    padding-right: 5% !important;
    box-sizing: border-box !important;
}

div.container {
    width: 85% !important;
    margin-left: auto !important;
    margin-right: auto !important;
}