#main-wrapper .container,
#main-wrapper .container-inner,
#main-wrapper #main-content-wrapper,
#main-wrapper .grid-inner {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
}

/* Hide the title page bar */
#main-wrapper > div.page-title-wrap{
	display: none;
}

#sidebar-second-wrapper,
#sidebar-first-wrapper {
	display: none;
}

#article-110 {
	position: absolute;
	/*top: calc(175px + 128px);*/
	/*top: calc(175px + 37px);*/
	top: calc(175px);
	width: 50vw;
	max-width: 600px;
	z-index: 10;
	background-color: #37474f;
	padding: 35px 25px;
	box-sizing: border-box;
	margin-top: 50px;
}

/* Map */
#gmap_canvas > div > .gm-style > div:first-of-type{
	padding-left: 50vw !important;
}

div#lien-map {
	height: 0;
}

/* Bandeau coordonnées */
div#All_coords {
	position: relative;
	width: 100%;
	height:auto;
	background-color: #e9e9e9;
	border-bottom: 1px solid #fff;
}

div#All_coords > div:first-of-type {
	position: relative;
	display: inline-block;
	width: 40%;
	height: 128px;
	padding: 35px 15px;
	box-sizing: border-box;
	background-color: #20313a;
	text-align: right;
}

div#All_coords > div:last-of-type {
	position: relative;
	display: inline-block;
	width: 60%;
	height: 128px;
	padding: 10px 25px 10px 75px;
	box-sizing: border-box;
	background-color: #37474F;
	vertical-align: top;
}

div#All_coords > div > h1.contact-title {
	position: relative;
	margin: 0;
	display: inline-block;
	width: auto;
	font-size: 30px;
	font-weight: 400;
	color: #fff;
	padding: 10px 4vw 10px 0;
	box-sizing: border-box;
	border-right: 1px solid #fff;
}

div#All_coords > div > i.fa-paper-plane {
	position: relative;
	margin: 0;
	display: inline-block;
	width: auto;
	font-size: 50px;
	color: #fff;
	padding: 4px 3vw 4px 4vw;
	vertical-align: bottom;
}

.contact-address {
	position: relative;
	display: inline-block;
	width: auto;
	color: #fff;
	margin-bottom: 10px;
}

.contact-address > p {
	margin:0;
}

p.contact-tel {
	margin: 0;
	font-size: 18px;
	color: #021c29;
}

p.contact-email {
	margin: 0;
	font-size: 16px;
	color: #d1dade;
}

/* Start - Contact form */
#main-wrapper .grid-inner {
	padding:0 !important;
}

form#webform-client-form-110{
	width:100%;
	padding:0 25px;
	margin:0 auto;
	box-sizing: border-box;
}

form#webform-client-form-110 > div div.form-item{
	margin-top:0;
}

p.label-form {
	text-transform: uppercase;
	font-weight: 100;
	font-size: 25px;
	color: #fff;
	padding: 5px 25px;
	text-align: center;
	border: 1px solid #fff;
	box-sizing: border-box;
	margin: 0;
	margin-bottom: 35px;
}

form#webform-client-form-110 > div > div:last-of-type{
	margin: 35px 0 0 0;
	float: right;
}

form#webform-client-form-110 > div div.form-item input,
form#webform-client-form-110 > div div.form-item select {
	border: none;
	padding: 7px 0;
	font-size: 14px;
	border-bottom: 1px solid #ffffff;
	background-color: #37474f;
	color: #d1dade;
}

/* Placeholder - Default */
form#webform-client-form-110 > div div.form-item input::placeholder,
form#webform-client-form-110 > div div.form-item textarea::placeholder {
	color: #d1dade;
	opacity: 1;
}
/* Placeholder - Firefox 19+ */
form#webform-client-form-110 > div div.form-item input::-moz-placeholder,
form#webform-client-form-110 > div div.form-item textarea::-moz-placeholder {
	color: #d1dade;
	opacity: 1;
}
/* Placeholder - Chrome, Opera, Safari */
form#webform-client-form-110 > div div.form-item input::-webkit-input-placeholder,
form#webform-client-form-110 > div div.form-item textarea::-webkit-input-placeholder {
	color: #d1dade;
	opacity: 1;
}

/* Autofill for the form */
form#webform-client-form-110 input:-webkit-autofill,
form#webform-client-form-110 input:-webkit-autofill:hover,
form#webform-client-form-110 input:-webkit-autofill:focus
input:-webkit-autofill,
form#webform-client-form-110 textarea:-webkit-autofill,
form#webform-client-form-110 textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
form#webform-client-form-110 select:-webkit-autofill,
form#webform-client-form-110 select:-webkit-autofill:hover,
form#webform-client-form-110 select:-webkit-autofill:focus {
	-webkit-text-fill-color: #d1dade !important;
	-webkit-box-shadow: 0 0 0px 1000px #37474f inset !important;
}

/* Required fields */
form#webform-client-form-110 > div div.form-item input:required,
form#webform-client-form-110 > div div.form-item select:required,
form#webform-client-form-110 > div div.form-item textarea:required {
	box-shadow: none;
}

form#webform-client-form-110 > div div.form-item input:focus,
form#webform-client-form-110 > div div.form-item select:focus {
	background-color: #435056;
	padding-left:10px;
	padding-right:10px;
	box-sizing: border-box;
}

form#webform-client-form-110 > div div.form-item {
	position: relative;
	display: inline-block;
}

/* Civilité */
form#webform-client-form-110 > div div.form-item:nth-child(1) {
	width: calc(100% / 3 - 10px);
	margin: 0 10px 0 0;
}

form#webform-client-form-110 select#edit-submitted-civilite {
	width: 100%;
	height: 32px;
	box-sizing: border-box;
}

/* Nom / Prénom */
form#webform-client-form-110 > div div.form-item:nth-child(2) {
	float: right;
	width: calc(50% - 10px);
	margin: 0 0 0 10px;
}
form#webform-client-form-110 input#edit-submitted-nom {
	width: 100%;
}

/* Poste / Service */
form#webform-client-form-110 > div div.form-item:nth-child(3) {
	float: left;
	width: calc(50% - 10px);
	margin: 10px 10px 0 0;
}
form#webform-client-form-110 input#edit-submitted-poste-service {
	width:100%;
}

/* Adresse e-mail */
form#webform-client-form-110 > div div.form-item:nth-child(4) {
	margin-left: 10px;
	width: calc(25% - 10px);
	margin: 10px 5px 0 10px;
}
form#webform-client-form-110 input#edit-submitted-adresse-mail {
	width:100%;
}

/* Affiliation / Société */
form#webform-client-form-110 > div div.form-item:nth-child(5) {
	width: calc(25% - 10px);
	margin: 10px 0 0 5px;
	float: right;
}
form#webform-client-form-110 input#edit-submitted-affiliation-societe {
	width:100%;
}

/* SIREN */
form#webform-client-form-110 > div div.form-item:nth-child(6) {
	float: left;
	width: calc(50% - 10px);
	margin: 10px 10px 0 0;
}
form#webform-client-form-110 input#edit-submitted-ndegsiren-siret {
	width:100%;
}

/* Code postal */
form#webform-client-form-110 > div div.form-item:nth-child(7) {
	width: calc(50% - 10px);
	margin: 10px 0 0 10px;
}
form#webform-client-form-110 input#edit-submitted-code-postal {
	width:100%;
}

/* Téléphone */
form#webform-client-form-110 > div div.form-item:nth-child(8) {
	float: left;
	width: calc(50% - 10px);
	margin: 10px 10px 0 0;
}
form#webform-client-form-110 input#edit-submitted-telephone {
	width:100%;
}

/* Fax */
form#webform-client-form-110 > div div.form-item:nth-child(9) {
	width: calc(25% - 10px);
	margin: 10px 0 0 10px;
}
form#webform-client-form-110 input#edit-submitted-fax {
	width:100%;
}

/* Objet */
form#webform-client-form-110 > div div.form-item:nth-child(10) {
	width: 100%;
	margin: 35px 0 0 0;
}
form#webform-client-form-110 input#edit-submitted-objet {
	width:100%;
}

/* Message */
form#webform-client-form-110 > div div.form-item:nth-child(11) {
	width: 100%;
	margin: 25px 0 0 0;
}
textarea#edit-submitted-message {
	border: none;
	padding: 10px;
	background-color: #435056;
	color:#d1dade;
	font-size: 14px;
}
form#webform-client-form-110 .resizable-textarea .grippie {
	border: none;
	background: #e0e0e0;
	height: 3px;
}

/* Submit button */
form#webform-client-form-110 > div > div:last-of-type input.form-submit {
	border: none;
	box-shadow: none;
	padding: 8px 15px;
	background: #1e6a8e;
	color: #fff;
	border-radius: 2px;
	font-size: 12px;
}

form#webform-client-form-110 > div > div:last-of-type input.form-submit:hover {
	background: #d1dade;
	color: #37474f;
}

/* Captcha */
fieldset.captcha {
	position: relative;
	display: inline-block;
	width: 50%;
	margin : 35px 0 0 0 !important;
}

fieldset.captcha > div > div.form-item {
	width: 100% !important;
	margin: 0 !important;
	color: #d1dade;
	font-size: 14px;
}
fieldset.captcha > div > div.form-item input#edit-captcha-response {
	margin-left: 10px;
	width: 25% !important;
	text-align: center;
}

fieldset.captcha>div>div>label,
fieldset.captcha>legend,
fieldset.captcha>div>div>div.description {
	display: none;
}

fieldset.captcha {
	border:none !important;
}

/*fieldset.captcha>div>div>label {*/
	/*width: 100%;*/
/*}*/

/*div.gm-style > div:first-of-type > div:first-of-type,*/
/*div.gm-style > div:first-of-type > div:nth-child(3) > div:last-of-type {*/
	/*transform: translate(25vw, 0px) !important;*/
/*}*/

/* Responsive */
@media screen and (max-width : 1024px){
	/* Contact form */
	form#webform-client-form-110 {
		width: 100%;
		padding: 0;
		margin: 0 auto;
	}

	form#webform-client-form-110 > div div.form-item input, form#webform-client-form-110 > div div.form-item select {
		font-size: 12px;
	}

	textarea#edit-submitted-message {
		font-size: 12px;
	}

	/* Bandeau */
	div#All_coords > div > h1.contact-title {
		font-size: 25px;
	}

	div#All_coords > div > i.fa-paper-plane {
		font-size: 40px;
	}
}