/* CSS LARGEUR DE PAGE */

#main-wrapper .grid-16{
	width: 100% !important;
}

#main-wrapper .grid-16 .grid-14{
	width: 100% !important;
}

#main-wrapper .grid-16 .grid-14 .grid-12{
	width: 100% !important;
}


/* CSS COORDONNES + MAP */

#All_coords_map{
	background-image: linear-gradient(#165c72, #1e6a8e);
	display: inline-block;
	width: 100%;
	max-height: 650px;
	min-height: 650px;
}

/* CSS COORDONNES */


	/* CSS TITRE + CORPS */


#cood_title{
	background-color: #1e6a8e;
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	float: left;
	width: 50%;
}


	/* CSS TITRE */


#Title_Cood{
	color: white;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: bold;
}

.Title_Content_Cood{
	padding-top: 100px;
}


	/* CSS CORPS */


@media screen and (max-width: 1280px)
{

	#All_coords{
		background-color: #1e6a8e;
		width: 50%;
		display: inline-block;
		text-align: center;
	}
	   
	h1.contact-title{
		color: white;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding-top: 15%;
	}

	h2.contact-subtitle{
		color: white;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		display: inline-block;
		padding: 0 5% 0 25%;
		margin: 20px 0 0 0;
	}

	p.contact-content{
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		margin: 0 0 15px 0 !important;
		display: inline-block;
	}

	p.contact-adress{
		position: relative;
		top: 18px;
	}
}

@media screen and (min-width: 1281px) and (max-width: 1550px)
{

	#All_coords{
		background-color: #1e6a8e;
		width: 50%;
		display: inline-block;
	}
	   
	h1.contact-title{
		color: white;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding-top: 15%;
	}

	h2.contact-subtitle{
		color: white;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0 5% 0 25%;
		font-weight: bold;
		margin: 20px 0 0 0;
		display: inline-block;
	}

	p.contact-content{
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		margin: 0 0 15px 0 !important;
		display: inline-block;
	}

	p.contact-adress{
		position: relative;
		top: 18px;
	}
}

@media screen and (min-width: 1551px)
{

	#All_coords{
		background-color: #1e6a8e;
		width: 50%;
		display: inline-block;
	}
	   
	h1.contact-title{
		color: white;
		text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		padding-top: 15%;
		font-size: 50px;
	}

	h2.contact-subtitle{
		color: white;
		text-align: left;
		font-family: Arial, Helvetica, sans-serif;
		padding: 0 5% 0 25%;
		margin: 20px 0 0 0;
		font-weight: bold;
		display: inline-block;
		font-size: 30px;
	}

	p.contact-content{
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		margin: 0 0 15px 0 !important;
		display: inline-block;
		font-size: 22px;
	}

	p.contact-adress{
		position: relative;
		top: 18px;
	}
}


/* CSS MAP */


#gmap_canvas{
	filter: opacity(75%);
}

#gmap_canvas:hover{
	filter: opacity(100%);
}

#bscontact_gmap{
	float: right;
	width: 50% !important;
}

#lien-map{
	position: absolute;
	left: -9999px;
}



/* CSS WEBFORM */
#webform-client-form-110{
	width: 80%;
	margin: auto;
	font-size: 20px;
}

#webform-component-civilite .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
}

#webform-component-nom .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	float: left;
	display: inline-block;
}

#webform-component-poste---service .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	margin-left: 30%;
	float: left;
	display: inline-block;
}

#webform-component-adresse-mail .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	margin-top: 10px;
	float: left;
	display: inline-block;
}

#webform-component-affiliation---societe .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 30%;
	float: left;
	display: inline-block;
}

#webform-component-ndegsiren---siret .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	margin-top: 10px;
	float: left;
	display: inline-block;
}

#webform-component-code-postal .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 30%;
	float: left;
	display: inline-block;
}

#webform-component-telephone .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	margin-top: 10px;
	float: left;
	display: inline-block;
}

#webform-component-fax .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
	margin-left: 30%;
	margin-top: 10px;
	margin-bottom: 10px;
	float: left;
	display: inline-block;
}

#webform-component-message .webform-hints-field{
	border: solid 5px #1e6a8e;
	border-radius: 10px;
}

.webform-client-form #edit-actions{
	text-align: center;
}

.webform-client-form #edit-actions span.button input.form-submit{
	background: #1e6a8e !important;
	background-color: #1e6a8e !important;
	border: solid 5px #1e6a8e !important;
	border-radius: 10px !important;
	-webkit-box-shadow: 0 0 5px #1e6a8e !important;
	color: white !important;
}

.grippie{
	display: none;
}