div#bs-cc-reset-password-container {
    position: relative;
    background-color: #1e6a8e;
    height: 75px;
    text-align: center;
    padding: 15px 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div#bs-cc-reset-password-container>a>button {
    box-shadow: none;
    text-shadow: none;
    border: 1px solid #fff;
    height: 45px;
    width: 175px;
    border-radius: 4px;
    background-color: #424242;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    box-sizing: border-box;
}

div#bs-cc-reset-password-container>a>button:hover {
    background-color: #5595b3;
}