/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*////////////////////////////////// CHANGEABLE DATAS /////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

div#block-bsconnexion-user-profil-changeable-datas {
    width: 50%;
    float: right;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 25px;
}

#block-bsconnexion-user-profil-changeable-datas>div>h2 {
    margin: 10px 0 30px 0;
    text-align: center;
}

#update-account-disclaimer {
    color: #EF5350;
    font-style: italic;
    margin: 0 0 30px 0;
    font-size:12px;
}

#bs-cc-update-account-civilite-div,
#bs-cc-update-account-nomprenom-div,
#bs-cc-update-account-posteservice-div,
#bs-cc-update-account-mailcontact-div,
#bs-cc-update-account-telephone-div,
#bs-cc-update-account-fax-div{
    position: relative;
    margin-top:15px;
    height: 35px;
}

#bs-cc-update-account-civilite-div>p,
#bs-cc-update-account-nomprenom-div>p,
#bs-cc-update-account-posteservice-div>p,
#bs-cc-update-account-mailcontact-div>p,
#bs-cc-update-account-telephone-div>p,
#bs-cc-update-account-fax-div>p{
    margin: 0;
    display: inline-block;
    float: left;
    width: 125px;
    height: 35px;
    padding: 7px 0;
}

#bs-cc-update-account-civilite-div>div.form-item-update-civilite,
#bs-cc-update-account-nomprenom-div>div.form-item-update-nom-prenom,
#bs-cc-update-account-posteservice-div>div.form-item-update-poste-service,
#bs-cc-update-account-mailcontact-div>div.form-item-update-mail-contact,
#bs-cc-update-account-telephone-div>div.form-item-update-telephone,
#bs-cc-update-account-fax-div>div.form-item-update-fax {

    display: inline-block;
    margin: 0;
    position: relative;
    float: left;
    height: 35px;
    width: calc(100% - 35px - 125px);
}

#bs-cc-update-account-civilite,
#bs-cc-update-account-nomprenom,
#bs-cc-update-account-posteservice,
#bs-cc-update-account-mailcontact,
#bs-cc-update-account-telephone,
#bs-cc-update-account-fax {
    position: relative;
    height: 100%;
    width: 100%;
    border: 2px solid #1e6a8e;
    border-right: none;
    padding: 5px 10px;
    background-color: #fff;
    color: #212121;
}

.bs-cc-update-account-update-btn {
    display: inline-block;
    width: 35px;
    height: 35px;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color:#1e6a8e;
    color:#fff;
    cursor: pointer;
}

#bs-cc-update-account-submit-div {
    margin: 25px 0 0 0;
    text-align: center;
    height: 40px;
}

#bs-cc-update-account-submit{
    display: none;
    text-shadow: none;
    box-shadow: none;
    width: 100px;
    height: 40px;
    background: #1e6a8e;
    background-color: #1e6a8e;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 0;
    margin:0;
}

#bsconnexion-profil-changeable-datas-form input:disabled,
#bsconnexion-profil-changeable-datas-form select:disabled {
    background-color: #EEEEEE;
    color: #949494;
}

#bsconnexion-profil-changeable-datas-form input.error:disabled,
#bsconnexion-profil-changeable-datas-form select.error:disabled {
    background-color: #EEE;
    color:#F44336;
}

.field-click-detection{
    position: relative;
    display: inline-block;
    width: calc(100% - 125px);
    transform: translateY(-35px);
    text-align: right;
    height: 35px;
    cursor: pointer;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////////// UNCHANGEABLE DATAS /////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

div#block-bsconnexion-user-profil-unchangeable-datas {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 25px;
    background-color: #424242;
    color: #fff;
}

#block-bsconnexion-user-profil-unchangeable-datas>div>h2 {
    margin: 10px 0 50px 0;
    color: #fff;
    text-align: center;
}

div#bs-cc-user-profil-unchangeables-datas {
    width: 80%;
    margin: auto;
}

.div-unchangeable-datas {
    margin: 0 0 40px 0;
}

.div-unchangeable-datas>p {
    margin: 0;
}

.div-unchangeable-datas>p:nth-child(1) {
    display: inline-block;
    width: 175px;
}

p.unchangeable-datas {
    display: inline-block;
    width: calc(100% - 175px);
    font-weight: 700;
    vertical-align: top;
}

#div-unchangeable-datas-client-code{
    background-color: #fff;
    color: #424242;
    padding: 5px 10%;
    border-radius: 4px;
    margin: 15px 0;
}
