/* Start - Element Container */

.bs-cg-element-container {
    position: relative;
    display: inline-block;
    width: 25%;
    min-height: auto;
    margin: 0;
    padding:0;
    border: 5px solid #fff;
    background-color: #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}

.bs-cg-element-container p {
    position: relative;
    margin:0;
}

p.bs-cg-element-name {
    position: absolute;
    width: 100%;
    margin-top: 50% !important;
    padding: 5px 15px;
    transform: translateY(-50%);
    z-index: 10;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-cg-element-container img {
    position: relative;
    width: 100% !important;
    height: auto !important;
}

.bs-cg-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    top: 0;
    left: 0;
}

/* End - Element Container */

/* Start - Parent Container */

div#bs-cg-parent-container {
    height: auto;
    padding: 0 5px;
    background-color: #424242;
    color: #fff;
}

.bs-cg-parent-element-container{
    display: inline-block;
    width: auto;
    margin: 5px 0;
}

.bs-cg-nameParent {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin: 0;
    background-color: #929292;
    color: #fff;
    cursor: pointer;
}

#bs-cg-parent-container > i {
    padding: 0px 10px;
}

#bs-cg-parent-top{
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}

.bs-cg-element-active{
    background-color: #fff;
    color: #1e6a8e;
}

.bs-cg-nameParent:hover {
    background-color: #1e6a8e;
    color: #fff;
}

/* End - Parent Container */

/* Start - Leaf container */

#bs-cc-cg-leaf{
    position:fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.75);
    z-index: 99;
}

#bs-cc-cg-leaf-form {
    position: relative;
    width: 80%;
    height: 80%;
    margin: auto;
    background-color: #fff;
    margin-top: 50vh;
    transform: translateY(-50%);
}

button#bs-cc-cg-leaf-cancel {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin: 5px;
    padding: 0;
    border: none;
    border-radius: 25px;
    color: #FFF;
    background-color: #1a6e8a;
    cursor: pointer;
    z-index: 99;
}

button#bs-cc-cg-leaf-cancel:hover {
    color: #1a6e8a;
    background-color: #FFF;
}

p#bs-cc-cg-leaf-title {
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: "Roboto Condensed", oswaldregular;
    font-size: 25px;
    margin: 10px 0;
}

/* End - Leaf container */