/* Start - Element Container */

.bs-cg-element-container {
    position: relative;
    display: inline-block;
    width: 25%;
    min-height: auto;
    margin: 0;
    padding:0;
    border: 5px solid #fff;
    background-color: #e9e9e9;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    cursor: pointer;
}

.bs-cg-element-container p {
    position: relative;
    margin:0;
}

p.bs-cg-element-name {
    position: absolute;
    width: 100%;
    margin-top: 50% !important;
    padding: 5px 15px;
    transform: translateY(-50%);
    z-index: 10;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bs-cg-element-container img {
    position: relative;
    width: 100% !important;
    height: auto !important;
}

.bs-cg-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    top: 0;
    left: 0;
}

/* End - Element Container */

/* Start - Parent Container */

div#bs-cg-parent-container {
    height: auto;
    padding: 0 5px;
    background-color: #424242;
    color: #fff;
}

.bs-cg-parent-element-container{
    display: inline-block;
    width: auto;
    margin: 5px 0;
}

.bs-cg-nameParent {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    margin: 0;
    background-color: #929292;
    color: #fff;
    cursor: pointer;
}

#bs-cg-parent-container > i {
    padding: 0px 10px;
}

#bs-cg-parent-top{
    font-size: 25px;
    vertical-align: middle;
    cursor: pointer;
}

#bs-cg-parent-top:hover{
    color:#1e6a8e;
    background-color: #fff;
    border-radius:50px;
    width:23px;
}

.bs-cg-element-active{
    background-color: #fff;
    color: #1e6a8e;
}

.bs-cg-nameParent:hover {
    background-color: #1e6a8e;
    color: #fff;
}

/* End - Parent Container */

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////// LEAF CONTAINER //////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */

/* Start - Leaf container */

.node-catalogue-general-feuilles {
    position:fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,.75);
    z-index: 99;
}

.node-catalogue-general-feuilles > div {
    position: relative;
    width: 600px;
    height: 80%;
    margin: auto;
    background-color: #fff;
    margin-top: 50vh;
    transform: translateY(-50%);
    overflow-y: hidden;
    overflow-x: hidden;
}

p#bs-cc-cg-leaf-title {
    position: fixed;
    width: 100%;
    height: 57px;
    margin: 0;
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 25px;
    font-family: "Roboto Condensed", oswaldregular;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 2px 5px #dedede;
    z-index: 98;
}

button#bs-cc-cg-leaf-cancel {
    position: fixed;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    margin: 5px;
    padding: 0;
    border: none;
    border-radius: 25px;
    color: #FFF;
    background-color: #1a6e8a;
    cursor: pointer;
    z-index: 99;
}

button#bs-cc-cg-leaf-cancel:hover {
    color: #1a6e8a;
    background-color: #FFF;
}

/* End - Leaf container */

/* /////////////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////// LEAF FORM /////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////////////////////////// */

/* Start - Leaf form */

#bs-cc-cg-leaf-instructions{
    font-style: italic;
    font-size:13px;
    margin-bottom: 25px;
}

.node-catalogue-general-feuilles > div > form {
    position: relative;
    width: 100%;
    height: calc(100% - 57px);
    margin: 57px 0 25px 0;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: scroll;
    overflow-x: hidden;
}

/* LABEL - Custom the label of fields */
.node-catalogue-general-feuilles label {
    margin-bottom: 5px;
}

/* DESCRIPTION - Custom the description of fields */
.node-catalogue-general-feuilles .description {
    font-style: italic;
}

/* FIELDSET - Custom the fieldset */
.node-catalogue-general-feuilles .webform-component-fieldset {
    float: none;
    clear: both;
    border: none !important;
    padding: 5px 0;
    border-bottom: 2px solid #bababa !important;
    margin: 50px 0;
}
.node-catalogue-general-feuilles .webform-component-fieldset .webform-component-fieldset {
    width: 90%;
    margin: auto;
}

.node-catalogue-general-feuilles .webform-component-fieldset > legend {
    display: block;
    font-weight: 400;
    padding: 0;
    margin: auto;
    font-size: 18px;
    width: 100%;
    border-top: 10px solid #1e6a8e;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    height: 25px;
}
.node-catalogue-general-feuilles .webform-component-fieldset > legend:hover{
    border-top: 10px solid #424242;
}
.node-catalogue-general-feuilles .webform-component-fieldset > legend > span {
    transform: translateX(0%) translateY(calc(-50% - 6px));
    background-color: #fff !important;
    position: absolute;
    width: auto;
    left: 25px;
    padding: 0 15px;
    text-align: center;
    box-sizing: border-box;
}

.node-catalogue-general-feuilles .webform-component-fieldset .fieldset-content {
    margin: 25px 0;
}
.node-catalogue-general-feuilles .webform-component-fieldset:hover .fieldset-title {
    color: #000 !important;
}

/* FIELDSET DESCRIPTION - Custom fieldset description */
.node-catalogue-general-feuilles > div > form > div > fieldset > div > div.description{
    position: relative;
    width: 100%;
    float: none;
    clear: both;
    margin:0;
}

/* INPUT and SELECT - Custom input and select element */
.node-catalogue-general-feuilles input,
.node-catalogue-general-feuilles .webform-component-select > select {
    height:30px;
    border: 2px solid #1e6a8e;
    background-color: #fff;
    width:100%;
}
/* INPUT - Custom input fields */
.node-catalogue-general-feuilles > div > form > div > div > input,
.node-catalogue-general-feuilles > div > form > div > fieldset > div > div > input{
    position: relative;
    width: 100%;
}

/* HOVER and FOCUS - Custom the hover and focus on fields */
.node-catalogue-general-feuilles .form-text:hover,
.node-catalogue-general-feuilles .form-text:focus,
.node-catalogue-general-feuilles textarea:hover,
.node-catalogue-general-feuilles textarea:focus {
    border: 2px solid #1e6a8e;
}

/* FIELD CONTAINER - Custom containers of fields */
.node-catalogue-general-feuilles .form-item {
    position: relative;
    float: left;
    width: 50%;
    margin:0 0 25px 0;
    padding: 0 5px;
    box-sizing: border-box;
}

/* NUMBER CONTAINER - Custom containers of number fields */
.node-catalogue-general-feuilles .webform-component-number {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 0 0 5px;
    box-sizing: border-box;
}
/* NUMBER CONTAINER - INPUT - Custom number fields */
.node-catalogue-general-feuilles .webform-component-number > input{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

/* SELECT CONTAINER - Custom containers of select fields */
.node-catalogue-general-feuilles .webform-component-select {
    position: relative;
    float: left;
    width: 50%;
    padding: 0 5px;
    box-sizing: border-box;
}
/* SELECT CONTAINER - SELECT - Custom select fields */
.node-catalogue-general-feuilles .webform-component-select > select {
    position: relative;
    width: 100%;
    padding: 0 5px;
    border: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #1e6a8e;
    color: #fff;
}

/* TEXTAREA CONTAINER - Custom containers of textarea fields */
.node-catalogue-general-feuilles .webform-component-textarea {
    position: relative;
    float: none;
    clear: both;
    width: 100%;
    padding: 0 5px;
    box-sizing: border-box;
}
/* TEXTAREA CONTAINER - TEXTAREA - Custom containers of textarea fields */
.node-catalogue-general-feuilles .webform-component-textarea textarea {
    border: 2px solid #1e6a8e;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
    background-color: #fff;
}
/* TEXTAREA CONTAINER - GRIP TEXTAREA -Custom containers of textarea fields */
.node-catalogue-general-feuilles .webform-component-textarea .grippie {
    background-color: #424242;
    height: 10px;
    border: none;
}

/* RADIO */
.node-catalogue-general-feuilles .webform-component-radios {
    position: relative;
    float: none;
    clear: both;
    width: 100%;
    box-sizing: border-box;
}
.node-catalogue-general-feuilles .webform-component-radios > label {
    text-align: center;
    margin-bottom: 25px;
}
.node-catalogue-general-feuilles .webform-component-radios .form-type-radio {
    display: inline-block;
    position: relative;
    width: 50%;
    float: left;
    text-align: center;
}

/* FILE */
.node-catalogue-general-feuilles .webform-component-file {
    position: relative;
    display: block;
    width: 100% !important;
    margin: 0 !important;
}
.node-catalogue-general-feuilles .webform-component-file .form-managed-file > input{
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: none;
    box-sizing: border-box;
}
.node-catalogue-general-feuilles .webform-component-file .form-managed-file .form-submit{
    width: 100%;
    height: auto;
    padding: 6px 15px;
    background-color: #424242;
    background: #424242;
    color: #fff;
    font-size: 12px;
    border: none;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-sizing: border-box;
    box-shadow: none;
    text-shadow: none;
}

/* GRID */
.node-catalogue-general-feuilles .webform-component-grid {
    width: 100%;
    float: none;
    clear: both;
}
.node-catalogue-general-feuilles .webform-component-grid>table thead {
    background-color: #1e6a8e;
}
.node-catalogue-general-feuilles .webform-component-grid>table thead th {
    background-color: transparent;
}
.node-catalogue-general-feuilles .webform-component-grid>table tbody {
    background-color: #fff;
}
.node-catalogue-general-feuilles .webform-component-grid>table tbody tr {
    border: none;
    border-bottom: 1px solid #424242;
    box-sizing: border-box;
}
.node-catalogue-general-feuilles .webform-component-grid>table tr th {
    height: auto;
    padding: 5px 15px;
}
.node-catalogue-general-feuilles .webform-component-grid>table tbody > tr > td {
    padding: 5px 15px;
    background-color: transparent;
}
.node-catalogue-general-feuilles .webform-component-grid>table tbody > tr > td:first-child {
    color: #000;
}
.node-catalogue-general-feuilles .webform-component-grid .form-type-radio {
    position: relative;
    width:100%;
}

/* MARKUP */
.node-catalogue-general-feuilles .webform-component-markup{
    width: 100%;
    float: none;
    clear: both;
}
.webform-component-markup {
    margin: 0 !important;
    padding: 0 !important;
}
.webform-component-markup * {
    margin: 0;
}

/* SUBMIT BUTTON - Submit button */
.node-catalogue-general-feuilles div.form-actions{
    width: 100%;
    float: none;
    clear: both;
    margin: 40px 0 25px 0;
    text-align: center;
}
/* SUBMIT BUTTON - INPUT - Submit button */
.node-catalogue-general-feuilles div.form-actions > span > input{
    height: auto;
    width: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    background-color: #1e6a8e;
    background: #1e6a8e;
    color: #fff;
    box-sizing: border-box;
    box-shadow: none;
    text-shadow: none;
    font-size: 14px;
}
.node-catalogue-general-feuilles div.form-actions > span > input:hover{
    background-color: #424242;
    background: #424242;
}

.node-catalogue-general-feuilles .webform-component--denomination{
    width:100% !important;
}

/* End - Leaf form */

/* Custom radio */
.node-catalogue-general-feuilles input[type="radio"] {
    display: block;
    width: 20px;
    height: 20px;
    margin:0 auto 5px auto;
    /*opacity: 0;*/
}
.node-catalogue-general-feuilles .form-type-radio label {
    display: block;
    margin-top: 15px;
}

/* Custom the checkmark by default */
span.checkmark{
    position: absolute;
    top:0;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #737373;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 8px;
    top: 3px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.form-type-radio input[type="radio"] {
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
    margin: 0;
    cursor: pointer;
    z-index: 1;
}

input[type="radio"]:hover {
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.form-type-radio input[type="radio"]:hover ~ .checkmark{
    background-color: #ccc;
}

/* When the checkbox is checked, change background-color */
.form-type-radio input[type="radio"]:checked ~ .checkmark {
    background-color: #1e6a8e;
}

/* Show the checkmark when checked */
.form-type-radio input[type="radio"]:checked ~ .checkmark:after {
    display: block;
}