/* Start - Gael | When the user is not connected */

/* Start - Remove the OpenID field of the headband */
#bs-cc-headband > #bs-cc-headband-fields > form > div > div.item-list{
	display : none;
}

#bs-cc-headband-fields > form > div > .form-item-openid-identifier {
	display: none !important;
}
/* End - Remove the OpenID field of the headband */

#bs-cc-headband{
	position: fixed;
	height: 35px;
	vertical-align: middle;
	width: 100%;
	background-color: #424242;
	display: inline-block;
	margin:0;
	padding:0;
	top: 0;
	left:0;
	z-index: 90;
	box-sizing: border-box;
	text-align: right;
	border-bottom: 1px solid #808080;
}

#bs-cc-headband-fields {
	position: relative;
	width: 100%;
	height: 100%;
	top: 0;
	margin: 0;
	padding: 0;
}

#bs-cc-headband > #bs-cc-headband-fields > form{
	margin:0;
	height: 35px;
	font-size: 14px;
}

#bs-cc-headband > #bs-cc-headband-fields > form > div{
	margin:0;
	height: 35px;
}

#bs-cc-headband-fields {
	position: relative;
	display: inline-block;
	width: 100%;
	height:35px;
	margin: 0;
	padding: 0 25px;
	box-sizing: border-box;
	top: 0;
	left: 0;
}

.bs-cc-headband-field{
	position: relative;
	display: inline-block;
	height: 100%;
	width: auto;
	padding: 6px;
	box-sizing: border-box;
	vertical-align: middle;
}

.bs-cc-headband-field > div, #bs-cc-headband-field-username, #bs-cc-headband-field-password{
	margin:0 !important;
}

#bs-cc-headband > #bs-cc-headband-fields > form > div > #edit-actions,
#bs-cc-headband > #bs-cc-headband-fields > form > div > div#edit-actions--2,
#bs-cc-headband > #bs-cc-headband-fields > form > div > div#edit-actions--3,
#bs-cc-headband-div-button-signup {
	display: inline-block;
	width:auto;
	margin:0;
}

#bs-cc-headband-field-username, #bs-cc-headband-field-password{
	border: none;
	height: 23px;
	box-sizing:border-box;
	padding: 4px 10px;
	border-radius:2px;
}

#bs-cc-headband-field-username.error,  #bs-cc-headband-field-password.error {
	color: #424242;
	background-color: #ffdede;
	border:1px solid #ffa2a2;
	box-sizing:border-box;
}

#bs-cc-headband-buttons-login, #bs-cc-headband-buttons-signup{
	height: 23px;
	border: none;
	border-radius: 2px;
	padding: 5px 10px;
	background-color: #1e6a8e;
	background: #1e6a8e;
	color: #fff;
	box-sizing: border-box;
	box-shadow: none;
	text-shadow: none;
	font-size: 12px;
	vertical-align: middle;
	cursor: pointer;
}

span.bs-cc-headband-buttons-signup {
	box-sizing: border-box;
	padding: 0px 0px 0px 10px;
}


@media screen and (max-width : 736px){
	#bs-cc-headband-fields {
		padding: 0 10px;
	}

	#bs-cc-headband-field-username, #bs-cc-headband-field-password {
		width: 150px !important;
	}

	#bs-cc-headband > #bs-cc-headband-fields > form > div > div#edit-actions--2 {
		width: auto !important;
		margin: 0 !important;
		float: none;
	}
}

@media screen and (max-width : 576px){
	#bs-cc-headband-field-username, #bs-cc-headband-field-password {
		width: 125px !important;
	}

	.bs-cc-headband-field {
		padding: 6px 0;
	}

	#bs-cc-headband-div-field-username{
		padding-right:2px;
	}

	#bs-cc-headband-div-field-password{
		padding-left:2px;
	}

	span.bs-cc-headband-buttons-signup {
		box-sizing: border-box;
		padding: 0px 0px 0px 2px;
	}
}

@media screen and (max-width : 500px){
	#bs-cc-headband {
		height: 70px;
	}

	#bs-cc-headband-fields {
		padding: 0;
	}

	.bs-cc-headband-field {
		width: 50%;
	}

	#bs-cc-headband-div-field-username {
		padding: 4px 2px 4px 4px;
	}

	#bs-cc-headband-div-field-password {
		padding: 4px 4px 4px 2px;
	}

	#bs-cc-headband-field-username, #bs-cc-headband-field-password {
		width: 100% !important;
		height: 27px;
		border-radius: 0px;
	}

	#bs-cc-headband > #bs-cc-headband-fields > form > div > div#edit-actions--2 {
		width: 50% !important;
		margin: 0 !important;
		display: inline-block;
		height: 35px;
		float: left;
		padding-right: 1px;
		box-sizing: border-box;
	}

	#bs-cc-headband-fields > form > div > div#edit-actions--3 {
		width: 50% !important;
		margin: 0 !important;
		display: inline-block;
		height: 35px;
		float: left;
		padding-right: 1px;
		box-sizing: border-box;
	}

	#button bs-cc-headband-buttons-signup {
		display: inline-block;
		height: 35px;
	}

	#bs-cc-headband-buttons-login {
		width: 100%;
		height: 100%;
		border-radius:0px;
	}

	#bs-cc-headband-div-button-signup {
		position: relative;
		width: 50%;
		box-sizing: border-box;
		float: right;
		padding: 0;
		margin: 0;
		padding-left: 1px;
	}

	#bs-cc-headband-buttons-signup {
		height: 35px;
		width: 100%;
		border-radius: 0px;
	}

	span.bs-cc-headband-buttons-signup {
		padding: 0;
	}
}

/* End - Gael | When the user is not connected */

/*//////////////////////////////////////////////////////////////////////////////////////////*/

/* Start - Gael | When the user is connected */

#bs-cc-user-connected {
	height: 35px;
	vertical-align: middle;
	padding: 6px 15px;
	box-sizing: border-box;
}

#bs-cc-user-connected-welcome, #bs-cc-user-connected-profil, #bs-cc-user-connected-logout {
	position: relative;
	width:auto;
	height: auto;
	margin: 0;
	display: inline-block;
	padding: 0 25px;
	box-sizing: border-box;
	color: #e9e9e9;
}

#bs-cc-user-connected-profil {
	border-right: 1px solid #e9e9e9;
	border-left: 1px solid #e9e9e9;
}

a#bs-cc-devis {
	position: relative;
	display: inline-block;
	float: left;
	margin: 0;
	padding: 0;
	background-color: #1e6a8e;
	padding: 0 10px;
	box-sizing: border-box;
	border-radius: 2px;
	color: #fff;
}

a#bs-cc-devis > i {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	margin-right: 10px;
}

a#bs-cc-devis:hover {
	background-color: #fff;
	color: #1e6a8e;
}

@media screen and (max-width : 500px){

	/* When user is connected */
	#bs-cc-user-connected-welcome {
		display: block;
		text-align: center;
		width: 100%;
		height: 35px;
		padding: 7px 5px;
	}

	#bs-cc-user-connected {
		padding: 0;
	}

	#bs-cc-user-connected-profil, #bs-cc-user-connected-logout {
		width:50%;
		height: 35px;
		padding: 6px;
		border: none;
		background-color: #1e6a8e;
		text-align: center;
		font-size: 22px;
	}

	#bs-cc-user-connected-profil{
		border-right:1px solid #424242;
	}

	#bs-cc-user-connected-logout{
		border-left:1px solid #424242;
	}

}

/* End - Gael | When the user is connected */

/* Start - User has entered wrong informations */
#wrong-authentication{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	height: 35px;
	width: 100%;
	margin: 35px 0 0 0;
	padding: 5px;
	font-size: 15px;
	box-sizing: border-box;
	background-color: rgba(0,0,0,.35);
	text-align: center;
}

#wrong-authentication-cross{
	position: absolute;
	top: 0;
	left: 0;
	color: #fff;
	height: 35px;
	width: auto;
	margin: 35px 0 0 0;
	padding: 6.5px 10px;
	font-size: 20px;
	box-sizing: border-box;
	text-align: center;
	z-index: 1;
}

#wrong-authentication-cross:hover{
	/*color: #1e6a8e;*/
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: -webkit-transform .8s ease-in-out;
	transition:         transform .8s ease-in-out;
}

@media screen and (max-width : 500px){
	#wrong-authentication,
	#wrong-authentication-cross {
		margin: 70px 0 0 0;
	}
}

@media screen and (max-width: 400px){
	#wrong-authentication,
	#wrong-authentication-cross {
		font-size: 12px;
		padding: 7px 10px;
	}

	#wrong-authentication-cross {
		padding: 11px 10px;
	}
}
/* End - User has entered wrong informations */

/* Start - Custom drupal messages */
/*#console {*/
	/*position: fixed;*/
	/*width: 100%;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*z-index: 999;*/
	/*margin: 0 !important;*/
	/*!*padding: 10px 50px !important;*!*/
	/*box-sizing: border-box;*/
/*}*/

/*div.messages {*/
	/*margin: 0 !important;*/
/*}*/

/*#console i {*/
	/*position: absolute;*/
	/*right: 25px;*/
	/*font-size: 20px;*/
	/*cursor: pointer;*/
	/*!*top: 50%;*!*/
	/*!*transform: translateY(-50%);*!*/
/*}*/
/*#console i:hover {*/
	/*color: #1e6a8e;*/
/*}*/

.status {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	box-sizing: border-box;
	margin: 0 !important;
	background-color: #424242 !important;
	opacity: .85;
	color: #fff !important;
	border: none !important;
}

.status > ul {
	margin: 0;
	/*list-style-type: none;*/
	padding: 0;
}

.status > i {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 20px;
}

.status > i:hover {
	color: #1e6a8e;
}

/* End - Custom drupal messages */


/* Start - Site map */
div#site-map {
	margin: 25px 0;
}

#site-map>div {
	padding: 15px 25px;
	box-sizing: border-box;
}

#site-map h2 {
	margin-top:0;
	color: #1e6a8e;
}

#site-map .site-map-front-page{
	border: 1px solid #e9e9e9;
	box-shadow: inset 0px 3px 1px #e9e9e9;
}

#site-map .site-map-menus{
	border: 1px solid #e9e9e9;
	box-shadow: inset 0px 3px 1px #e9e9e9;
	margin-top: 50px;
}

#site-map ul:first-child > li {
	padding: 0;
	margin-bottom: 20px;
}

#site-map ul:first-child > li > ul {
	margin-top: 10px;
}

#site-map ul.site-map-menu >li:last-child {
	margin: 0;
}

#site-map ul:first-child > li > a {
	font-weight: 600;
	padding-left: 10px;
	border-left: 2px solid #424242;
}

#site-map ul.site-map-menu:first-child {
	margin: 0;
}

#site-map ul.site-map-menu >li {
	list-style-type: none;
	list-style-image: none;
}
/* End - Site map */

/* Start - Loader */
#loader-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 99999;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

#loader {
	border: 16px solid #f3f3f3;
	border-radius: 50%;
	border-top: 16px solid #1e6a8e;
	width: 80px;
	height: 80px;
	margin: auto;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s ease infinite;
}

/* Safari */
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
/* End - Loader */

/* Start - Autofill design */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	border: none;
	-webkit-text-fill-color: #424242;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	 transition: background-color 5000s ease-in-out 0s;
}
/* End - Autofill design */