@media screen and (min-width: 0px){
    #bs-cc-register-form-name-div,
    #bs-cc-register-form-mail-div,
    #bs-cc-register-form-fieldset-company,
    #bs-cc-register-form-affiliationsociete-div,
    #bs-cc-register-form-siren-div,
    #bs-cc-register-form-adresse-div,
    #bs-cc-register-form-codepostal-div,
    #bs-cc-register-form-ville-div,
    #bs-cc-register-form-fieldset-company-contact,
    #bs-cc-register-form-civilite-div,
    #bs-cc-register-form-nomprenom-div,
    #bs-cc-register-form-posteservice-div,
    #bs-cc-register-form-mail-contact-div,
    #bs-cc-register-form-telephone-div,
    #bs-cc-register-form-fax-div {
        position: relative;
        display: block;
        width: 100%;
        height: auto;
        margin: 15px 0;
        padding: 0;
        box-sizing: border-box;
        border:none;
        font-size: 16px;
    }

    #bs-cc-register-form-name,
    #bs-cc-register-form-mail,
    #bs-cc-register-form-affiliationsociete,
    #bs-cc-register-form-siren,
    #bs-cc-register-form-adresse,
    #bs-cc-register-form-codepostal,
    #bs-cc-register-form-ville,
    #bs-cc-register-form-civilite,
    #bs-cc-register-form-nomprenom,
    #bs-cc-register-form-posteservice,
    #bs-cc-register-form-mail-contact,
    #bs-cc-register-form-telephone,
    #bs-cc-register-form-fax {
        position: relative;
        display: block;
        width: 100%;
        height: 40px;
        margin: 0;
        padding: 5px 15px;
        box-sizing: border-box;
        border-radius: 4px;
        border: 2px solid #1e6a8e !important;
        background-color: #fff;
        color: #424242;
    }

    #bs-cc-register-form-name.error,
    #bs-cc-register-form-mail.error,
    #bs-cc-register-form-affiliationsociete.error,
    #bs-cc-register-form-siren.error,
    #bs-cc-register-form-adresse.error,
    #bs-cc-register-form-codepostal.error,
    #bs-cc-register-form-ville.error,
    #bs-cc-register-form-civilite.error,
    #bs-cc-register-form-nomprenom.error,
    #bs-cc-register-form-posteservice.error,
    #bs-cc-register-form-mail-contact.error,
    #bs-cc-register-form-telephone.error,
    #bs-cc-register-form-fax.error {
        background-color: #ffd1d1;
        color:#F44336;
    }

    #bs-cc-register-form-fieldset-company,
    #bs-cc-register-form-fieldset-company-contact {
        font-size:25px;
        box-sizing: border-box;
    }

    #bs-cc-signup-buttons-div {
        white-space: nowrap;
        height: 40px;
        margin: 50px 0;
        text-align: center;
    }

    .bs-cc-signup-button-cancel, .bs-cc-signup-button-signup {
        position: relative;
        display: inline-block;
        width: 50%;
        height: 40px;
        margin: 0 !important;
        padding: 0 !important;
        box-sizing: border-box;
        font-size: 14px;
    }

    #bs-cc-signup-button-signup, #bs-cc-signup-button-cancel {
        text-shadow: none;
        box-shadow: none;
        width: 100px;
        height: 40px;
        background: #1e6a8e;
        background-color: #1e6a8e;
        box-sizing: border-box;
        border: none;
        border-radius: 4px;
        color: #fff;
        padding: 0;
        margin:0;
        cursor: pointer;
    }

    #bs-cc-register-form-cgu-div,
    #bs-cc-register-form-cgv-div {
        position: relative;
        height: 40px;
        margin: 15px 0;
        padding: 0;
        box-sizing: border-box;
        vertical-align: middle;
    }

    #bs-cc-register-form-cgu-div>.form-item-CGU,
    #bs-cc-register-form-cgv-div>.form-item-CGV {
        position: relative;
        width: auto;
        display: inline-block;
        height: 40px;
        margin: 0;
        padding: 8px 0;
        box-sizing: border-box;
    }

    #bs-cc-register-form-cgu-div>.form-item-CGU>label,
    #bs-cc-register-form-cgv-div>.form-item-CGV>label {
        vertical-align: middle;
    }

    #bs-cc-register-form-cgu-div>.form-item-CGU>input,
    #bs-cc-register-form-cgv-div>.form-item-CGV>input {
        height: 17px;
        width: 17px;
    }

    p.email-disclaimer {
        font-size: 12px;
        color: #EF5350;
        margin: 0;
    }

    #bs-cc-register-form-name-div{
        display: none;
    }
}